/**
 * Theme Name: Suffusion
 * Description: An elegant and versatile theme with a power-packed set of options and semantic HTML5-based markup. It supports Mega-Menus, custom layout templates, advanced support for custom post types, customizable drop-down menus, featured sliders, tabbed sidebars, a magazine layout and lots of enhanced widgets for Twitter, Flickr, Google etc. It has 19 widget areas, one-column, two-column and three-column fixed-width and flexible-width layouts, 8 pre-defined templates and 19 pre-defined color schemes. RTL support is built-in and translations in many languages are available. Custom Post Types and Custom Taxonomies are integrated. Compatibility packs for BuddyPress, bbPress, Jigoshop and WooCommerce are available as plugins for smooth integration. Support forum at http://www.aquoid.com/forum.
 * Theme URI: http://aquoid.com/news/themes/suffusion/
 * Version: 4.3.1
 * Author: Sayontan Sinha
 * Author URI: http://mynethome.net/blog
 * Announcements Feed: http://aquoid.com/news/category/theme-releases/feed/
 * License: GNU General Public License (GPL), v3 (or newer)
 * License URI: http://www.gnu.org/licenses/gpl-3.0.html
 * Tags: theme-options, green, blue, silver, red, orange, purple, white, black, light, dark, one-column, two-columns, three-columns, left-sidebar, right-sidebar, fixed-width, flexible-width, custom-colors, custom-header, custom-background, custom-menu, threaded-comments, translation-ready, sticky-post, rtl-language-support, microformats, featured-images, post-formats, photoblogging, blavatar
 *
 * Copyright (c) 2009 - 2012 Sayontan Sinha. All rights reserved.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 */

/* Standard Styles */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del,
dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form,
label, legend,table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
input:focus, textarea:focus { outline: none; }
body {/* Default styling for everything that is un-styled and doesn't inherit*/
	color:#000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height: 1.5;
	background-color: #444;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
p,.p {
	margin-bottom: 1.5em;
	text-align: left;
}
img {
	border: none;
}
ul li {
	margin: 0;
}
ul, ol {
	margin: 0.5em 0 1.5em 1.5em;
	padding-left: 20px;
}

ol {
	list-style: decimal;
}
ol ol {
	list-style:lower-latin;
}
ol ol ol {
	list-style:lower-roman;
}
ol ol ol ol {
	list-style:lower-latin;
}
ul ul, ol ol, ul ol, ol ul {
	margin-bottom:0;
}

dl	{
	margin:0 1.5em;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 0 1em 1.5em;
}

form {
	margin: 0;
	padding: 0;
}
small {
	font-size: 0.68em;
}
code, pre {
	font-family: "Courier New", Courier, Monaco, "Lucida Console", monospace;
	overflow: auto;
	background-color: #F7F7F7;
}
pre {
	padding: 1em;
	line-height: 1.5em;
	border: 1px solid #ddd;
	margin: 1.5em 0;
}
hr{
	border: 1px dotted #666;
	margin-bottom: 1.5em;
}
blockquote{
	background: url(images/blockquote-l.png) no-repeat left top;
	padding: 10px 15px;
	margin: 0 3em 1em;
	font-size: 1em;
	text-indent: 2em;
}
blockquote > div {
	background: url(images/blockquote-r.png) no-repeat right bottom;
	padding-bottom: 0.1em;
}
blockquote cite {
	float: right;
}
abbr, acronym { cursor: help; border-bottom: 1px dotted #888; }
/* Headers */
h1, h2, h3, h4, h5, h6 {
	color: #333;
	margin: 0.5em 0;
	padding: 0;
	line-height: 1.1em;
}
h2.suf-mag-category-title {
	margin: 0;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: #333;
}
h1, h2 {
	font-weight: normal;
}
h3, h4, h5, h6 {
	font-weight: bold;
}
h1 {
	font-size: 200%;
}
h2 {
	font-size: 183%;
}
h3 {
	font-size: 166%;
}
h4 {
	font-size: 150%;
	font-weight: bold;
}
h5 {
	font-size: 133%;
	font-weight: bold;
}
h6 {
	font-size: 116%;
	font-weight: bold;
}
.entry table, .comment-body table { width: 100%; border-collapse: collapse; }
.entry th, .comment-body th { text-align: left; padding: 6px;  border-bottom: 1px dotted #ccc; }
.entry td, .comment-body td { padding: 6px; border-bottom: 1px dotted #ccc; }

sup, sub {
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	position: relative;
	font-size: 0.7em;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}

/* WordPress Standard Elements */
.border{
	padding: 2.5px;
	border: 1px solid #ccc;
}
.hidden {
	display: none;
	visibility: hidden;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alignleft {
	float: left;
	margin:0 10px 5px 0;
}
.alignright {
	float: right;
	margin:0 0 5px 10px;
}

.floatleft{
	float:left;
	margin:3px 7px 0 0;
}
.floatright{
	float:right;
	margin:3px 0 0 7px;
}
.block{
	display:block;
}
.clear{
	clear:both;
}
.center {
	text-align: center;
}
dl.gallery-item {margin:0}
.suf-widget{
	background: #fff;
	border: 1px solid #c0c0c0;
}

#wrapper {
	width: 1000px;
	margin: 20px auto;
	position: relative;
	border: 1px solid #008000;
	background-color: #EDF3E6;
	padding: 10px;
}

#wrapper.shadow {
	/* Shadows - CSS3 for browsers that support it */
	box-shadow: 10px 10px 5px #888;
}

#header {
	min-height: 55px;
	padding: 15px 0;
}

/* Blog title */
.blogtitle {
	font-size: 333%;
	float: left;
	line-height: 47px;
	position:relative;
	margin: 0;
	padding: 0;
	text-align: left;
}
.blogtitle.center {
	float: none;
	text-align: center;
}
.blogtitle.hidden {
	display: none;
	visibility: hidden;
}
.blogtitle.right {
	float: right;
	text-align: right;
}

.blogtitle a {
	color: #000;
}

.blogtitle a:hover {
	text-decoration: none;
}

/* Blog description on the right side of the title */
.description {
	float: right;
	margin-top: 21px;
	margin-right: 20px;
	margin-left: 20px;
	text-transform: uppercase;
	font-size: 116%;
	text-align: right;
}
.description.center {
	float: none;
	margin-top: 0;
	text-align: center;
}

.description.hidden {
	display: none;
	visibility: hidden;
}
.description.left {
	float: left;
	text-align: left;
}

/* search form */
.searchform {
	display: inline-block;
	font-size: 100%;
	padding: 0;
	margin: -1px 0 1px;
}
.searchfield {
/*	width: 158px;*/
	padding: 4px 7px 2px 5px;
	color: #999;
	border: 1px solid #888;
	margin-top: 4px;
	line-height: 1.2em;
}

input[type="submit"].searchsubmit {
	background: no-repeat 0 0;
	height: 24px;
	width: 24px;
	border: none;
	cursor: pointer;
	text-indent: -999%;
	margin: 0;
	padding: 0 3px 0 3px;
}

#right-header-widgets .searchform,
#top-bar-right-widgets .searchform {
	float: right;
}

.dbx-content .searchform {
	float: left;
	text-align: center;
	width: 100%;
}

.dbx-content .searchform .searchfield {
	width: 70%;
}

/*
 * The layout has "page" as the base element.
 * Inside the "page" is a "wrapper". The "wrapper" has 4 rows:
 *     1. A "header"
 *     2. A navigation bar ("nav")
 *     3. A "container" with two columns:
 *        a. A main column ("main-col")
 *        b. A "sidebar"
 *     4. A section for credits ("cred")
 */

/* Main column  */
#main-col {
	width: 725px;
	float: left;
	position: relative;
	margin-left: 0;
	margin-right: 0;
}
#single-col {
	width: 100%;
	float: left;
}

/* See Ruthsarian Menus: Ruthsarian Layouts at http://webhost.bridgew.edu/etribou/layouts/rMenu/rMenu.css
 * There are details for z-index settings to avoid overlaps on the second line for IE 7
 */

/* main menu */
#nav {
	font-size: 108%;
	border-bottom: 1px solid;
}

.float-ptr {
	font-size: 130%;
	float: right;
	background: url(images/arrows.gif) no-repeat scroll -16px 0 transparent;
	height: 8px;
	width: 8px;
	top: 45%;
	right: 3px;
	position: absolute;
}
.down-ptr {
	font-size: 130%;
	float: right;
	background: url(images/arrows.gif) no-repeat scroll 0 0 transparent;
	height: 8px;
	width: 8px;
	top: 45%;
	right: 5px;
	position: absolute;
	margin-left: 5px;
}
img.home-icon { height: 21px; }
#nav ul li a.with-arrow, #nav-top ul li a.with-arrow { padding-right: 22px;}
/* remove all the bullets, borders and padding from the default list styling */
#nav ul {
	list-style: none;
	display: block;
	margin: 0 0 -1px 0;
	padding: 0;
	float: left;
	vertical-align: bottom;
}

#nav ul li {
	margin: 0 4px 0 0;
	padding: 0;
	float: left;
	border: 1px solid;
}
#nav.continuous ul, #nav-top.continuous ul {
	margin-left: 10px;
}
#nav.continuous ul ul, #nav-top.continuous ul ul {
	margin-left: 0;
}
#nav.continuous ul li {
	margin: 0;
	border: none;
}
#nav ul ul { position: absolute; }
#nav ul .mm-tab ul { position: relative; }
#nav ul li a {
	padding: 8px 8px 5px 8px;
	text-decoration: none;
	display: inline-block;
}

#nav ul ul li,
#nav ul ul li a {
	z-index: 100;
}

#nav .current_page_item a,
#nav .current_page_item a:hover,
#nav li a:active {
	text-decoration: none;
}

/* float the list to make it horizontal and a relative positon so that you can control the dropdown menu positon */
#nav li {
	float:left;
	position:relative;
	z-index: 1;
}

#nav li a:hover,
#nav li:hover {
	z-index: 100;
}

#nav ul.sf-menu, #nav-top ul.sf-menu { display: inline-block; }
#nav .col-control.center, #nav-top .col-control.center { text-align: center; }
#nav .col-control.center ul.sf-menu, #nav-top .col-control.center ul.sf-menu { float: none; }
#nav .col-control.right ul.sf-menu { float: right; }

/* Styling for navigation menus */
#nav ul ul li a,
#nav ul ul li a:visited {
	padding: 8px 8px 5px 8px;
	text-decoration: none;
	display: block;
	line-height:22px;
}

/* style the links for the top level */
#nav a,
#nav a:visited {
	display:block;
	font-size: 100%;
	text-decoration:none;
	height:22px;
	padding: 8px 8px 5px 8px;
	line-height:22px;
	font-weight:bold;
}

.sf-menu ul { visibility: hidden; }
.mm-tab:hover ul, .mm-tab .keep-open ul { visibility: visible; }
/* hide the sub levels and give them a positon absolute so that they take up no room */
#nav ul .pagenav ul, #nav-top ul .pagenav ul, #nav ul .categories ul, #nav-top ul .categories ul { visibility:hidden; position:absolute; }

#nav ul .dd-tab ul {
	visibility:hidden;
	position:absolute;
	/*height:0;*/
	top:35px;
	left:0;
	width:149px;
}

/* position the third level flyout menu */
#nav ul .dd-tab ul ul {
	left:145px;
	top:-1px;
	width:149px;
}

/* position the third level flyout menu for a left flyout */
#nav ul ul ul.left {
	left:-149px;
}

/* style the second level links */
#nav ul ul a,
#nav ul ul a:visited {
	height:auto;
	line-height:1em;
	padding:8px 10px 5px 10px;
	width:128px;
	border-width:1px 1px 1px 1px;
	text-align: left;
}

#nav-top {
	font-size: 100%;
	border-bottom: 1px solid;
	padding: 0 10px;
}

/* remove all the bullets, borders and padding from the default list styling */
#nav-top ul {
	list-style: none;
	display: block;
	margin: 0 0 -1px 0;
	padding: 0;
	vertical-align: bottom;
}

#nav-top ul li {
	margin: 0 0 0 0;
	padding: 0;
	float: left;
	border: 1px solid;
}

#nav-top ul ul { position: absolute; }
#nav-top ul .mm-tab ul { position: relative; }

#nav-top ul li a {
	line-height: 22px;
	padding: 8px 8px 5px 8px;
	text-decoration: none;
	display: inline-block;
}

#nav-top ul ul li,
#nav-top ul ul li a {
	z-index: 100;
}

#nav-top .current_page_item a,
#nav-top .current_page_item a:hover,
#nav-top li a:active {
	text-decoration: none;
}

/* float the list to make it horizontal and a relative positon so that you can control the dropdown menu positon */
#nav-top li {
	float:left;
	position:relative;
	z-index: 1;
}

#nav-top li a:hover,
#nav-top li:hover {
	z-index: 100;
}

/* Styling for navigation menus */
#nav-top ul ul li a,
#nav-top ul ul li a:visited {
	padding: 8px 8px 5px 8px;
	text-decoration: none;
	display: block;
	line-height:22px;
}

/* style the links for the top level */
#nav-top a,
#nav-top a:visited {
	display:block;
	font-size: 108%;
	text-decoration:none;
	height:22px;
	padding: 8px 8px 5px 8px;
	line-height:22px;
	font-weight:bold;
}

#nav-top.continuous ul {
	margin: 0;
}
#nav-top.continuous ul li {
	margin: 0;
	border: none;
}
#nav-top.continuous a,
#nav-top.continuous a:visited {
	font-size: 100%;
	min-height:22px;
	padding: 8px 8px 5px 8px;
	line-height:22px;
	font-weight:bold;
}

/* hide the sub levels and give them a positon absolute so that they take up no room */
#nav-top ul .dd-tab ul {
	visibility:hidden;
	position:absolute;
	/*height:0;*/
	top:35px;
	left:0;
	width:149px;
}

/* position the third level flyout menu */
#nav-top ul .dd-tab ul ul {
	left:145px;
	top:-1px;
	width:149px;
}

/* position the third level flyout menu for a left flyout */
#nav-top ul ul ul.left {
	left:-149px;
}

/* style the second level links */
#nav-top ul ul a,
#nav-top ul ul a:visited {
	height:auto;
	line-height:1em;
	padding:8px 10px 5px 10px;
	width:128px;
	border-width:1px 1px 1px 1px;
	text-align: left;
}

/* sub menu */
#subnav {
	background: #fff;
	margin-top: 15px;
	border: 1px solid #c0c0c0;
}
#subnav ul {
	margin: 0;
	padding: 0 0 0 5px;
	list-style: none;
}
#subnav li {
	border-right: 1px solid #D8D8D8;
	padding: 4px 7px;
	margin: 0;
	float: left;
	font-weight: bold;
}
#subnav li a, #subnav li a:visited, #subnav .page_item {
	text-decoration: none;
	color: #c0c0c0;
}

#subnav li a:hover {
	text-decoration: none;
}

#subnav ul ul li{display: none;}

/* Level 3 */
.hier-nav {
	background: #EDF3E6;
	margin-top: 3px;
	border: 1px solid #c0c0c0;
}

.hier-nav ul {
	margin: 0;
	padding: 0 0 0 5px;
	list-style: none;
}

.hier-nav li {
	border-right: 1px solid #D8D8D8;
	padding: 4px 7px;
	margin: 0;
	float: left;
	font-weight: normal;
	font-size: 91.67%;
}

.hier-nav li a, .hier-nav li a:visited, .hier-nav .page_item {
	text-decoration: none;
	color: #c0c0c0;
}

.hier-nav .current_page_item, .hier-nav .current_page_parent {
	background: #fff;
	border-left: 1px solid #D8D8D8;
}

.hier-nav li a:hover {
	text-decoration: none;
}

.hier-nav ul ul li {
	display: none;
}

.breadcrumb {
	font-size: 108%;
	padding: 3px 5px 3px 8px;
}

/* content */
#content {
	clear: both;
	overflow: hidden;
	margin-top: 15px;
}

.no-header.no-main-nav #content { margin-top: 0; }

.post, article.page {
	border: 1px solid #c0c0c0;
	background: #FFF;
	padding: 25px 15px 1em 15px;
	clear: both;
	overflow: hidden;
	margin-bottom: 10px;
}
.post .date {
	height: 48px;
	width: 48px;
	right: 58px;
	font: normal 150% Arial, Helvetica, sans-serif;
	color: #ffffff;
	text-align: center;
	padding: 0;
	line-height: 100%;
	margin-left: -100%;
	float: left;
	position: relative;
}

.post .date span.day {
	font: normal 100% Arial, Helvetica, sans-serif;
	color: #ffffff;
	text-align: center;
	padding: 0;
	line-height: 100%;
}
.post .date span.month {
	height: 12px;
	display: block;
	font: normal 50% Arial, Helvetica, sans-serif;
	color: #ffffff;
	text-align: center;
	padding-top: 2px;
}
.post .date span.year {
	height: 12px;
	display: block;
	font: normal 50% Arial, Helvetica, sans-serif;
	color: #ffffff;
	text-align: center;
	padding-top: 0;
}
.post .title {
	float: left;
	margin-left: 10px;
	width: 635px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-box-sizing: border-box;
}

.page-links {
	width: 100%;
	clear: both;
}

.page-links span {
	border: 1px solid;
	padding-left: 4px;
	padding-right: 4px;
}

.page-links a:hover {
	text-decoration: none;
}

span.more-link {
	width: 100%;
}

a.more-link {
	font-size: 100%;
	font-weight: bold;
	float: right;
}
.postdata {
	font-size: 90%;
	color: #999999;
}
.postdata a, .postdata a:visited {
	color: #999999;
	text-decoration: none;
}
.postdata a:hover {
	text-decoration: none;
}
.postdata .icon { display: none; width: 16px; height: 16px; margin-right: 4px; margin-left: 4px; }
.postdata .category{ padding-right: 10px; float: left; }
.postdata .category .icon { background: no-repeat 0 0;}
.postdata .author .icon { background: no-repeat -32px -128px;}
.postdata .tax .icon { background: no-repeat -32px -144px;}
.postdata .permalink { padding-right: 10px; float: left; }
.postdata .permalink .icon { background: no-repeat 0 -16px; }
.postdata .comments { padding-right: 10px; float: right; }
.postdata .comments .icon { background: no-repeat 0 -64px;}
.postdata .edit{ padding-right: 10px; float: right; }
.postdata .edit .icon { background: no-repeat 0 -112px;}
.postdata .line-date .icon { background: no-repeat 0 -32px;}
.postdata.line { text-align: center; padding: 0.8em; }
.postdata.line span, .postdata.line span.author, .postdata.line span.comments { float: none; margin: 0 0.5em; padding: 0; }
.postdata.line span.icon { margin-right: 4px; margin-left: 0; }
.postdata.line span.vcard { margin-left: 0; margin-right: 0; }

.entry,
.non-wp-entry {
	padding: 15px 0 5px;
	clear: both;
	font-size: 116%;
	line-height: 1.6em;
	margin-bottom: 1em;
	overflow: hidden;
}

.post-footer {
	font-size: 91.67%;
	margin: 5px 0;
	width: 100%;
}

/* post title */
h1.posttitle,
h2.posttitle {
	color: #000;
	margin: 3px 0 2px;
	padding-bottom: 4px;
	font-size: 200%;
	border-bottom: dotted 1px #CCCCCC;
}

h1.posttitle a,
h1.posttitle a:visited,
h2.posttitle a,
h2.posttitle a:visited {
	color: #000;
	text-decoration: none;
}

h1.posttitle a:hover,
h2.posttitle a:hover {
	text-decoration: none;
}
span.author {
	float: left;
	display: inline-block;
	color: #aaa;
	max-width: 250px;
}
.post .meta-pullout span.author, .page .meta-pullout span.author {
	float: none;
	padding-right: 0;
}
.tags {
	float: right;
	display: inline-block;
	color: #aaa;
	text-align: right;
}

/* next & previous page navigation */
.page-nav {
	clear: both;
	padding: 5px 0 5px 0;
	margin-bottom: .6em;
	background-color: #ffffff;
	border: 1px solid #c0c0c0;
}
.page-nav a, .page-nav a:visited {
	color: #000;
	text-decoration: none;
}
.page-nav a:hover,
.navigation .suf-page-nav a:hover {
	text-decoration: none;
}
.previous-entries a { float: left; margin-left: 10px;}
.previous-entries .icon { width: 16px; height: 16px; background: no-repeat 0 -80px; float: left; margin-right: 4px;}
.next-entries a { float: right; margin-right: 10px; }
.next-entries .icon { width: 16px; height: 16px; background: no-repeat 0 -96px; float: right; margin-left: 4px; }

.suf-page-nav {
	text-align: center;
	margin: 5px 0;
}

.suf-page-nav a,
.suf-page-nav span {
	padding: 2px 5px;
	border: 1px solid;
	margin: 2px;
}

.suf-page-nav span.dots {
	border: none;
}

.suf-page-nav a.page-numbers:hover {
	color: #ffffff;
}

/* next & previous post navigation */
.post-nav {
	clear: both;
	padding: 5px;
	margin: 0 0 15px 0;
	font-size: 100%;
	background-color: #ffffff;
	border: 1px solid #c0c0c0;
}
.post-nav table {
	width: 100%;
}

.post-nav a, .post-nav a:visited {
	color: #999999;
	text-decoration: none;
}
.post-nav a:hover {
	text-decoration: none;
}
.post-nav .previous a { float: left;}
.post-nav .previous .icon { width: 16px; height: 16px; background: no-repeat 0 -144px; float: left; margin-right: 4px;}
.post-nav .next a {	float: right; text-align: right; }
.post-nav .next .icon { width: 16px; height: 16px; background: no-repeat 0 -128px; float: right; margin-left: 4px;}

/* Comments  */
h3.comments { padding: 10px; font-size: 116%; clear: both; }
h3.comments .icon { width: 24px; height: 24px; background: no-repeat -16px -80px; margin: -5px 10px 0 0; float: left;}
h3#respond, h3.respond, #reply-title {
	padding: 7px;
	margin: 20px 0 0;
	clear: both;
	font-size: 116%;
}
#reply-title .icon {width: 24px; height: 24px; background: no-repeat -16px -104px; margin: -5px 10px 0 0; float: left;}

/* Comment navigation */
div.navigation {
	padding: 5px;
}

/* commentform */
#commentform {
	margin-top: 10px;
}
#commentform label.suf-comment-label {
	font-weight: bold;
	color:#000000;
	font-size: 100%;
	padding: 5px;
	margin: 0;
	display: inline;
	float: left;
	text-align: right;
	height: 20px;
	width: 80px;
	border: solid 1px #999;
}
#commentform label.textarea {
	display: block;
	float: none;
	width: 140px;
	text-align: center;
}

#commentform small {
	color: #999999;
	font-size: 90%;
}

#commentform input[type="text"] {
	height: 20px;
	margin: 0 0 0 0;
	padding: 5px;
}
#commentform input.inside { width: 300px; padding: 5px 5px 5px 40px; }
input.inside { background-repeat: no-repeat; }
#author.inside { background-position: -76px -27px; }
#email.inside { background-position: -76px -75px; }
#url.inside { background-position: -78px -120px; }
#commentform textarea {
	font: 110% Arial, Helvetica, sans-serif;
	height: 140px;
	border: solid 1px #999999;
	padding: 5px 3px 3px 7px;
	margin-top: -1px;
	width: 90%;
	max-width: 90%;
}

#commentform textarea:focus, #commentform input[type="text"]:focus {
	border: solid 1px #999;
}

div.reply {
	text-align: right;
	width: 100%;
}
.comment-author {
	padding: 10px 0 5px 0;
	margin: 0 0 10px 0;
	border-bottom: 1px dotted #ccc;
}
.comment-author img.avatar {
	margin-top: -5px;
}
.comment-author-link {
	padding: 0 0 5px 0;
}
.author-below .comment-author, .author-above .comment-author { border-bottom: none; }
.author-above .comment-author { display: inline; }
.author-below .comment-author img.avatar, .author-above .comment-author img.avatar { float: left; }
.comment-author-details { float: left; }
.comment-body p {
	line-height: 1.5em;
}
.comment-holder { display: inline-block; width: 100%; }
p.moderation {
	font-style: italic;
	color: #000;
	background-color: #f9f6a7;
	border: 1px solid #e7d605;
	padding: 5px;
}
a.comment-reply-link, a.comment-reply-login {
	border: solid 1px #999999;
	padding: 0 6px;
	margin: 5px;
}
.author-below .comment-reply-link, .author-above .comment-reply-link, .author-below .comment-reply-login, .author-above .comment-reply-login { border-width: 0 0 0 1px; border-radius: 0; }
li.comment div.reply { margin: 0 0 10px 0; }
.comment-response-types {
	margin: 5px 0 5px 0;
	display: block;
	width: 100%;
}

.comment-response-type, .response-type {
	float: left;
	border: solid 1px #999999;
	padding: 6px;
	margin: 5px;
	font-weight: bold;
}

.comment-response-type:hover {
	text-decoration: none;
}

/* comment list */
.commentlist { margin: 10px 0; padding-left: 30px; line-height: 130%; }
.commentlist li.comment, .commentlist li.pingback, .commentlist li.trackback { padding: 5px 10px; background-color: #fbfbfb; margin-bottom: 5px; border: 1px solid #ccc; }
.commentlist ul li.comment, .commentlist ul li.pingback, .commentlist ul li.trackback { list-style: none; }
.commentlist li.comment.author-below, .commentlist li.pingback.author-below, .commentlist li.trackback.author-below,
.commentlist li.comment.author-above, .commentlist li.pingback.author-above, .commentlist li.trackback.author-above {
	background-color: transparent;
	border: none;
	padding: 5px 0 0;
	margin-bottom: 1.5em;
}
.author-below ul.children li:last-child { margin-bottom: 0; }
.author-below .comment-body, .author-above .comment-body { padding: 1.1em 0.7em; }
.author-below .arrow { position: relative; left: 50px; width: 14px; display: block; border-left: 14px solid transparent; border-bottom: 14px solid transparent; margin-top: -16px; }
.author-above .arrow { position: relative; left: 50px; width: 14px; display: block; border-left: 14px solid transparent; border-top: 14px solid transparent; margin-bottom: -16px; }

.author-below .comment-body, .author-above .comment-body { background-color: #eee; }
.author-below .arrow, .author-above .arrow { border-left-color: #eee; }

.commentlist cite {
	font-weight: bold;
	font-style: normal;
	font-size: 110%;
}

img.avatar {
  float: right;
  margin: 5px;
}
.format-status img.avatar { float: left; margin: 0 1em 0 0; }

.commentlist small {
	margin-bottom: 5px;
	display: block;
	font-size: 87%;
}
.commentlist small a, .commentlist small a:visited{
	color: #999999;
}

ul.children { padding-left: 20px; }
/* Credits  */
#cred {
	font-size: 91.67%;
	padding: 0;
	clear: both;
	height: auto;
	overflow: hidden;
}
#page-footer { margin-top: 10px; overflow: hidden; }
#page-footer #cred {
	border-top: none;
}

#cred .designer {
	padding: 8px 22px;
	float: left;
}

#cred a {
	color: #000;
}

#cred a:hover {
	text-decoration: underline;
}

#cred .valid {
	padding: 8px 22px;
	float: right;
}

#cred table {
	border: none;
	padding: 0;
	margin: 10px 0;
	width: 100%;
}

#cred td {
	width: 33%;
}

#cred td.cred-left {
	text-align: left;
}

#cred td.cred-center {
	text-align: center;
}

#cred td.cred-right {
	text-align: right;
}

/* Emphasis */
.download, .announcement, .warning, .note {
	padding: 10px 5px 10px 5px;
	margin: 10px 0 10px 0;
	width: 98%;
	color: #000000;
}

.download {
	background-color: #E3F5F9;
	border: 1px solid #0000ff;
}

.announcement {
	background-color: #b8f9d5;
	border: 1px solid #088c43;
}

.warning {
	background-color: #ffdbea;
	border: 1px solid #ff0000;
}

.note {
	background-color: #f9f6a7;
	border: 1px solid #e7d605;
}

/* Excerpts */
img.left-thumbnail,
.left-thumbnail {
	float: left;
	margin: 10px;
}

img.right-thumbnail,
.right-thumbnail {
	float: right;
	margin: 10px;
}

/* Forms */
legend {
	padding: 0.75em;
}
fieldset {
	border: 1px solid #ccc;
	padding: 0.75em;
	background: transparent;
}

/* commentform */
label {
	color:#333;
	font-size: 90%;
	display: block;
}
small {
	color: #555;
	font-size: 90%;
}

input{
	padding: 5px 3px 3px 5px;
	border: 1px solid #ccc;
	border-right-color: #aaa;
	border-bottom-color: #aaa;
	line-height: 1.5em;
}

textarea {
	height: 140px;
	border: 1px solid #ccc;
	border-right-color: #aaa;
	border-bottom-color: #aaa;
	padding: 5px 3px 3px 7px;
	line-height: 1.5em;
}

textarea:focus, input[type="text"]:focus {
	border: solid 1px #666;
}

.button, input[type="submit"], .submit {
	font-weight: normal;
	margin:0;
	padding:3px 15px 3px 15px;
}

.button:hover, input[type="submit"]:hover,
.button:active, input[type="submit"]:active {
	font-weight: bold;
}

/* sidebar */
#sidebar, #sidebar-b,
#sidebar-2, #sidebar-2-b {
	margin-top: 15px;
	width: 260px;
	color: #666666;
	line-height: 160%;
}
#sidebar.left, #sidebar-b.left,
#sidebar-2.left, #sidebar-2-b.left,
#wsidebar-top.left, #wsidebar-bottom.left {
	float:left;
}

#sidebar.right, #sidebar-b.right,
#sidebar-2.right, #sidebar-2-b.right,
#wsidebar-top.right, #wsidebar-bottom.right {
	float:right;
}

#wsidebar-top {
	margin: 15px 0 0 0;
	padding: 0;
}

#wsidebar-top, #wsidebar-bottom { color: #666666; }
#wsidebar-bottom { padding: 10px 0; }

.suf-widget:last-child {
	margin-bottom: 0;
}

.flattened:last-child {
	margin-bottom: 15px;
}
.sidebar-shell {position:relative; display:block}
#sidebar-wrap {position:relative;}
.sidebar-wrap-left {
	float: left;
}
.sidebar-wrap-right {
	float: left;
}
.sidebar-shell-left {
	float: left;
	margin-right: 15px;
}

.sidebar-shell-right {
	float: left;
	margin-left: 15px;
}

.suf-widget, .warea p {
	margin: 0 0 15px;
}

.suf-widget h3 {
	font: bold 100%/100% Arial, Helvetica, sans-serif;
	color: #444;
}

.suf-widget h3 a,
.suf-widget h3 a:visited {
	color: #333;
}

.suf-widget h3 img {
	vertical-align: middle;
}

div.sidebar-tab-content a,
.suf-widget a,
.suf-widget a:visited {
	color: #000000;
	text-decoration:none;
}

div.sidebar-tab-content a:hover,
div.sidebar-tab-content a:focus,
div.sidebar-tab-content a:active,
.warea div.sidebar-tab-content a:hover,
.warea div.sidebar-tab-content a:focus,
.warea div.sidebar-tab-content a:active,
.suf-widget a:hover,
.suf-widget a:focus,
.suf-widget a:active {
	text-decoration:underline;
}

.suf-widget a.openid_link,
.recentcomments a.openid_link,
a.openid_link {
	padding-left: 16px;
}

.suf-mag-category ul,
.sidebar-tab-content ul,
.suf-widget ul,
.suf-flat-widget ul,
.suf-panel-widget ul {
	list-style: none;
	margin: 0 ;
	padding: 0 ;
}
.suf-mag-category ul { margin: 8px; }

.suf-mag-category ul li,
.sidebar-tab-content ul li,
.suf-widget ul li,
.suf-flat-widget ul li,
.suf-panel-widget ul li {
	background-repeat: no-repeat;
	padding-left: 22px ;
	background-position: 0 1px;
	padding-bottom: 3px;
}

.tab-box div.sbtab-content-archives ul li,
.tabbed-sidebar div.sbtab-content-archives ul li,
.widget_archive ul li {
	background: url(images/icons/calendar_date.png) no-repeat;
	padding-bottom: 3px;
}

.tab-box div.sbtab-content-categories ul li,
.tabbed-sidebar div.sbtab-content-categories ul li,
.widget_categories ul li {
	background: no-repeat 0 2px;
	padding-bottom: 3px;
}

/* Other Widget Areas */
#right-header-widgets, #top-bar-right-widgets {
	float: right;
	display: inline-block;
	margin-left: 10px;
}

#left-header-widgets,
#top-bar-left-widgets {
	float: left;
	display: inline-block;
	margin-right: 10px;
}

#horizontal-outer-widgets-1,
#horizontal-outer-widgets-2 {
	width: 100%;
	padding: 10px 0 10px 0;
	display: inline-block;
	float: left;
	text-align: center;
}

.suf-horizontal-widget {
	margin: 5px;
	float: none;
	display: inline-block;
	text-align: left;
	vertical-align: top;
}

/* Settings for Twitter widget */
.widget-suf-twitter {
	text-align: center;
	margin: 0;
}

.widget-suf-follow-twitter ul li {
	background: url(images/icons/comment.png) no-repeat;
}

#right-header-widgets .widget-suf-twitter,
#left-header-widgets .widget-suf-twitter,
#top-bar-right-widgets .widget-suf-twitter,
#top-bar-left-widgets .widget-suf-twitter {
	padding: 0;
}

.widget-suf-twitter-boxed {
	padding: 10px;
}

.twitter-icon-and-tag img {
	margin: 5px 10px 0 0;
	float: left;
}

.twitter-icon-and-tag {
	margin: 10px 5px 10px 0;
	display: inline-block;
	font-size: 125%;
}
.twitter-header {
	text-align: center;
}
#right-header-widgets a.twitter-icon-and-tag,
#right-header-widgets a.twitter-icon-and-tag img,
#left-header-widgets a.twitter-icon-and-tag,
#left-header-widgets a.twitter-icon-and-tag img,
#top-bar-right-widgets a.twitter-icon-and-tag,
#top-bar-right-widgets a.twitter-icon-and-tag img,
#top-bar-left-widgets a.twitter-icon-and-tag,
#top-bar-left-widgets a.twitter-icon-and-tag img {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

a.twitter-icon-and-tag, a.twitter-icon-and-tag:hover, a.twitter-icon-and-tag:active,
.warea a.twitter-icon-and-tag, .warea a.twitter-icon-and-tag:hover, .warea a.twitter-icon-and-tag:active,
#nav a.twitter-icon-and-tag:hover,
#nav a.twitter-icon-and-tag:active,
#nav a.twitter-icon-and-tag,
#nav-top a.twitter-icon-and-tag:hover,
#nav-top a.twitter-icon-and-tag:active,
#nav-top a.twitter-icon-and-tag {
	text-decoration: none;
	background: none;
}
/* End Twitter widget settings */

#widgets-above-header {
	text-align: center;
	margin: 10px 0;
	display:block;
}
#widgets-above-header .col-control { text-align: center; }
#widgets-above-header .suf-widget{
	display: inline-block;
	text-align: left;
	float: none;
	vertical-align: top;
}
#header-widgets {
	display: inline;
	float: right;
}
/* Featured Posts */
#featured-posts {
	margin-top: 15px;
	padding: 0;
	border-color: #c0c0c0;
	background-color: #ffffff;
	position: relative;
}
#featured-posts.index-below, .featured-content.index-below { padding-bottom: 35px; }

.featured-content { position: relative; }

.featured-content .top,
#featured-posts .top {
	top: 0;
	left: 0;
}

.featured-content .bottom,
#featured-posts .bottom {
	bottom: 0;
    left: 0;
}

.featured-content .left,
#featured-posts .left {
	top: 0;
    left: 0;
}

.featured-content .right,
#featured-posts .right {
	right: 0;
	bottom: 0;
}

#featured-posts ul {
	list-style: none;
}

#sliderPager, .sliderPager, #sliderControl, .sliderControl { margin:  5px; }
.index-overlaid #sliderIndex, .index-overlaid .sliderIndex { bottom: 5px; z-index: 30; padding: 0; }
.show-border.index-overlaid #sliderIndex, .show-border.index-overlaid .sliderIndex { bottom: 0; }
.index-overlaid #sliderPager, .index-overlaid .sliderPager, .index-overlaid #sliderControl, .index-overlaid .sliderControl { padding: 0 5px; }
.index-overlaid #sliderIndex a, .index-overlaid .sliderIndex a { background-color: #eee; }
.pager-bullets #sliderPager a, .pager-bullets .sliderPager a { width: 18px; height: 18px; padding: 0; display: inline-block; border: none; margin: 0; }
ul.sliderContent { margin: 0; }

.no-border #slider, .no-border .slider { margin: 0; }
.featured-content ul, .featured-content ul li {
    padding-left: 0;
}
.featured-content ul.sliderContent li {
    background-image: none;
}
.featured-content-title {
	font-weight: bold;
}
/* JQuery Cycle is used for the featured posts */
#slider {
	position: relative; /* important */
	overflow: hidden; /* important */
	margin: 5px 5px 0 5px;
}

.slider {
	position: relative; /* important */
	overflow: hidden; /* important */
}

#sliderContent {
	width: 100%; /* important to be same as image width or wider */
	position: absolute; /* important */
	top: 0; /* important */
	padding: 0;
	margin: 0;
}

.sliderImage {
	float: left; /* important */
	position: relative; /* important */
	display: none; /* important */
	width: 100%;
	padding: 0;
	margin: 0;
}

.sliderImage div {
	position: absolute; /* important */
	width: 100%;
	background-color: #222222;
	filter: alpha(opacity=70); /* here you can set the opacity of box with text */
	color: #fff;
	text-align: left;
}

.sliderImage div p {
	margin: 10px;
	font-size: 108%;
	text-align: left;
}

.sliderImage div a {
	font-weight: bold;
}

.sliderImage div a:hover {
	text-decoration: none;
}

.sliderImage div ins {
	text-decoration: none;
	font-weight: bolder;
}

img.featured-excerpt-left {
	float: right;
}

img.featured-excerpt-right {
	float: left;
}

.sliderImage.center { text-align: center; }
.sliderImage.full-width img { width: 100%; }
.sliderImage.center img.featured-excerpt-left, .sliderImage.center img.featured-excerpt-right { float: none; }

.sliderIndex a,
#sliderIndex a {
	border: 1px solid;
	margin: 1px;
	padding: 2px 5px;
	font-weight: bold;
}

.sliderIndex a:hover,
#sliderIndex a:hover {
	cursor: pointer;
	text-decoration: none;
}
#sliderIndex, .sliderIndex { padding: 0; position: absolute; width: 100%; text-align: center; }
.show-border #sliderIndex, .show-border .sliderIndex { padding: 0; }
#sliderPager, .sliderPager, #sliderControl, .sliderControl { height: 20px; padding: 5px 0; }

.sliderPager.left, #sliderPager.left, .sliderControl.left, #sliderControl.left { float: left; }
.sliderPager.right, #sliderPager.right, .sliderControl.right, #sliderControl.right { float: right; }
.controller-icons #sliderControl, .controller-icons .sliderControl { position: absolute; width: 100%; margin: 0; padding: 0; z-index: 30; height: 0; }
.controller-icons .sliderPrev { float: left; background-position: -16px 0; background-color: transparent; }
.controller-icons .sliderNext { float: right; background-position: -46px 0; background-color: transparent; }
.controller-icons .sliderPause { display: none; }
.controller-icons #sliderControl .sliderPrev, .controller-icons #sliderControl .sliderNext, .controller-icons .sliderControl .sliderPrev, .controller-icons .sliderControl .sliderNext { height: 30px; width: 30px; padding: 0; margin: 0 10px; border: none; background-color: transparent; visibility: hidden; }
.controller-icons #sliderControl .slide-hovered, .controller-icons .sliderControl .slide-hovered { visibility: visible; opacity:0.5; }
.controller-icons #sliderControl .control-hovered, .controller-icons .sliderControl .control-hovered { visibility: visible; opacity:1; }
.controller-icons .sliderControl .sliderPrev:hover, .controller-icons .sliderControl .sliderNext:hover { background-color: transparent; }
.controller-icons #sliderControl a:hover, .controller-icons.index-overlaid #sliderControl a:hover { background-color: transparent; }

.sliderPager.below, #sliderPager.below {
	margin-top: auto;
	position: static;
}

.bottom-center, .top-center { text-align: center; }
.sliderPager.bottom-center, #sliderPager.bottom-center, .sliderPager.top-center, #sliderPager.top-center { float: none; }
.sliderPager.bottom-right, #sliderPager.bottom-right, .sliderPager.top-right, #sliderPager.top-right { float: right; }

.sliderControl.over, #sliderControl.over { float: none; text-align: center; position: relative; z-index: 20; }
.over .sliderPrev { float: left; }
.over .sliderNext { float: right; }
.over .sliderPause { float: none; }

.featured-content img.left-thumbnail,
.featured-content img.right-thumbnail,
#featured-posts img.left-thumbnail,
#featured-posts img.right-thumbnail {
	margin: 0;
}

.featured-content .sliderIndex a, .featured-content .sliderIndex a:hover, .featured-content .sliderIndex a:visited,
.featured-content .sliderIndex a:active, .featured-content .sliderIndex a:focus {
    text-decoration: none;
}

#recent-comments ul li {
	background: url(images/icons/comments.png) no-repeat;
	padding-bottom: 3px;
}

.widget_categories ul li {
	background: no-repeat 0 2px;
	padding-left: 20px;
	padding-bottom: 3px;
}

/* meta */
.tab-box div.sbtab-content-meta .rss,
.tabbed-sidebar div.sbtab-content-meta .rss,
.suf-widget .rss {
	background: no-repeat left center;
	padding-bottom: 3px;
}

/* calendar */
.widget_calendar caption { font-weight: bold; padding: 0 0 0.5em; }
.widget_calendar table { margin: 1em auto; width: 90%; max-width: 300px; }
.widget_calendar td { text-align: center; margin: 1px; }
.widget_calendar a { font-weight: bold; }

/* alignments */
img.center, img[align="center"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img[align="left"] {
	float:left;
	margin: 2px 10px 5px 0;
}

img[align="right"] {
	float:right;
	margin: 2px 0 5px 10px;
}

.clear {
	clear:both;
}

hr.clear {
	clear:both;
	visibility: hidden;
	margin: 0;
	padding: 0;
}

.author-profile,
.info-tag,
.info-category {
	padding: 15px;
	margin-bottom: 15px;
	background-color: #ffffff;
	font-size: 116%;
	border: solid 1px #c0c0c0;
}

.author-profile h2,
.info-tag h2,
h2.category-title, .info-category h2.posttitle {
	margin: 0.5em 0 10px 0;
	padding-bottom: 5px;
	border-bottom: dotted 1px #CCCCCC;
}

.author-profile img.avatar {
  margin: 5px 10px;
}

.author-even img.avatar {
	float: right;
	margin: 5px 0 5px 15px;
}

.author-odd img.avatar {
	float: left;
	margin: 5px 15px 5px 0;
}

.info-category a img {
	float: right;
	margin: 5px 0 5px 10px;
}

.entry img {
	max-width: 100%;
}
.entry img.attachment-thumbnail { max-width: none; } /* Fix for IE8 */
.wp-caption {
	text-align: center;
	background: #fff;
	padding: 4px;
	margin-bottom: 1em;
}
.entry .wp-caption {
	max-width: 100%;
}
.wp-caption-text, .gallery-caption {
	font-size: 100%;
	font-style: italic;
	margin:0;
	padding:6px 3px 2px;
	line-height: 16px;
	text-align: center;
}

.wp-caption img {
	margin: 5px 0 0;
	padding: 0;
	border: 0 none;
	max-width: 100%;
}
.wp-caption-dd {
	font-size: 91.67%;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}
.sticky, .bypostauthor { }
/* Clearfix: Courtesy http://www.positioniseverything.net/easyclearing.html */
.fix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.fix { display: inline-block; }
/* Hide from IE Mac \*/
.fix {display:block;}
/* End hide from IE Mac */

#sidebar-container {
	display: inline-block;
	margin-top: 15px;
	position: relative;
}

.sidebar-container-left {
	float: left;
}

.sidebar-container-right {
	float: left;
}
#sidebar-container.sidebar-container-left #sidebar-shell-1, #sidebar-container.sidebar-container-left #sidebar-shell-2 { float: left; margin-left: 0; margin-right: 15px; right: auto; }
#sidebar-container.sidebar-container-right #sidebar-shell-1, #sidebar-container.sidebar-container-right #sidebar-shell-2 { float: right; margin-right: 0; margin-left: 15px; right: auto; left: auto; }

/* Contains the entire.tab-box section */
.tab-box, .tabbed-sidebar {
	display: block;
/*	margin-top: 15px;*/
}

.tab-box-left {
	margin-right: 15px;
}

.sidebar-shell .tab-box-left {
	margin-right: 0;
}

.tab-box-right {
	margin-left: 15px;
}

.sidebar-shell .tab-box-right {
	margin-left: 0;
}

.sidebar-container-left .tab-box { float: left; }
.sidebar-container-right .tab-box { float: right; }

/* List of tabs */
ul.sidebar-tabs {
	font: bold 100%/100% Arial, Helvetica, sans-serif;
	display: inline-block;
	width: 100%;
	margin: 0;
	padding: 0;
}

ul.sidebar-tabs li {
	list-style: none;
	float: left;
	margin: 0 2px 0 0;
	padding: 0;
}

ul.sidebar-tabs li a, .warea ul.sidebar-tabs li a {
	overflow: hidden;
	display: block;
	padding: 7px;
	text-decoration: none;
	border: 1px solid #c0c0c0;
	cursor: pointer;
	color: #444;
	background-color: #fff;
}

.warea .sidebar-tabs a, .warea .sidebar-tabs a:hover {
	text-decoration: none;
}

/* The content shown when a tab is selected */
div.sidebar-tab-content {
	display: block;
	padding: 10px;
	background: #fff;
	border: 1px solid #c0c0c0;
	margin-top: -5px;
}

/* Magazine */
.suf-mag-headlines {
	margin-top: 3px;
	display: block;
	background: #fff;
	border: 1px solid #c0c0c0;
}

.suf-mag-headline-photo-box {
	padding: 5px;
	overflow: hidden;
	float:left;
	margin: 5px 3px 5px -100%;
	text-align: center;
	position: relative;
}

.suf-mag-headline-photo {
	display: inline-block;
	padding: 5px;
}

.suf-mag-headline-block {
	float: left;
	margin: 5px 5px 5px 2px;
	position: relative;
}

.suf-mag-headline-block ul.mag-headlines {
	border-collapse: collapse;
	list-style: none;
	margin: 10px;
	padding-left: 10px;
}

.suf-mag-headline-block li.suf-mag-headline a {
	padding: 3px 8px;
	text-decoration: none;
	color: #000;
}

.suf-mag-headline-block li.suf-mag-headline a.tab-current {
	padding: 2px 7px;
	border: none;
}

.suf-mag-headline {
	display: block;
	line-height: 22px;
	font-size: 108%;
}

.suf-mag-excerpts {
	width: 100%;
	padding: 0;
	margin: 10px 0;
	display: inline-block;
}

.suf-tiles {
	width: 100%;
	padding: 0;
}

.suf-mag-category,
.suf-mag-excerpt,
.suf-tile {
	padding: 0 0 8px;
	font-size: 108%;
	line-height: 20px;
	text-align: center;

	/*margin: 3px;*/
	border: 1px solid #c0c0c0;
	vertical-align: top;
	background-color: #ffffff;

	position: relative;
	display: inline-block;

	/*float: left;*/
	width: 99%;
	margin-top: 5px;
}

.suf-mag-category { padding: 0 0 8px; text-align: left; }

.suf-tile.bottom, .suf-mag-excerpt.bottom, .suf-mag-category.bottom { padding-bottom: 35px; }
.suf-mag-excerpt-image { overflow: hidden; }
div.suf-tile-image {
	float: none;
	display: inline-block;
}

h2.suf-mag-excerpt-title a,
h2.suf-mag-excerpt-title a:hover,
h2.suf-mag-excerpt-title a:visited,
h2.suf-mag-excerpt-title a:active,
h2.suf-tile-title a,
h2.suf-tile-title a:hover,
h2.suf-tile-title a:visited,
h2.suf-tile-title a:active {
	font-weight: bold;
	font-size: 48%;
	text-decoration: none;
	color: #444;
}

h2.suf-mag-excerpt-title,
h2.suf-tile-title {
	border-top: 1px dotted #c0c0c0;
	border-bottom: 1px dotted #c0c0c0;
	line-height: 18px;
	padding: 5px 0;
	margin-right: 8px;
	margin-left: 8px;
}
.suf-tile-row { width: 100%; text-align: center; }
.suf-tile-row .left { text-align: left; }
.suf-tile-row .center { text-align: center; }
.suf-tile-row .right { text-align: right; }

.suf-mag-excerpt-image,
.suf-tile-image {
	overflow: hidden;
	height: 100px;
	width: auto;
	margin: 0 8px 12px;
	text-align: center;
}

.suf-mag-excerpt, .suf-tile {
	padding-top: 0;
}

.suf-tile-image img {
	margin: auto;

	max-width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.suf-tile-topmost {
	width: 100%;
	margin: 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.suf-mag-excerpt-image.suf-tile-topmost a, .suf-tile-image.suf-tile-topmost a {
	overflow: hidden;
	margin: 8px 10px;
}
.suf-mag-excerpt-text,
.suf-tile-text {
	margin: 12px 8px;
}

.suf-mag-categories {
	width: 100%;
	padding: 0;
	margin: 10px 0;
}

h2.suf-mag-headlines-title,
.suf-mag-excerpts-header,
.suf-mag-categories-header,
.suf-tiles th {
	padding: 5px;
	border: 1px solid #c0c0c0;
	background-color: #ffffff;
	font-size: 108%;
	color: #444;
	font-weight: bold;
	line-height: 26px;
}

.suf-mag-excerpts-header.left, .suf-mag-categories-header.left { text-align: left; }
.suf-mag-excerpts-header.center, .suf-mag-categories-header.center { text-align: center; }
.suf-mag-excerpts-header.right, .suf-mag-categories-header.right { text-align: right; }

/*
div.suf-mag-category {
	margin: 8px;
}
*/

.suf-mag-category-image {
	overflow: hidden;
	height: 100px;
	width: 100%;
	margin-bottom: 10px;
	text-align: center;
}

h2.suf-mag-category-title {
	font-size: 100%;
	font-family: Arial, Verdana, sans-serif;
	font-weight: bold;
	padding: 5px;
}

.widget-suf-cat-posts ul.suf-cat-posts-list,
.suf-mag-category ul.suf-mag-catblock-posts {
	border-collapse: collapse;
	list-style: none;
	padding-left: 0;
}

.widget-suf-cat-posts li.suf-cat-post,
.suf-mag-category li.suf-mag-catblock-post {
	padding: 6px 1px 6px 20px;
	border-bottom: 1px dotted #c0c0c0;
	background: url(images/right_arrow.png) no-repeat 0 10px;
}

.widget-suf-cat-posts li.suf-cat-post a,
.suf-mag-category li.suf-mag-catblock-post a {
	text-decoration: none;
	color: #000;
}

.widget-suf-cat-posts li.suf-cat-post:hover,
.suf-mag-category li.suf-mag-catblock-post:hover {
	padding: 5px 0 5px 19px;
	border: 1px solid #c0c0c0;
}

.suf-cat-post,
.suf-mag-catblock-post {
	display: block;
	line-height: 22px;
	font-size: 108%;
}

.suf-mag-category-footer {
	vertical-align: bottom;
}

.suf-mag-excerpt-footer { display: inline-block; width: 100%; }
a.excerpt-more-append,
a.suf-mag-excerpt-full-story,
a.suf-mag-category-all-posts {
	float: right;
	margin: 5px;
	padding: 4px 10px;
	text-decoration: none;
}

.bottom .suf-mag-excerpt-footer, .bottom .suf-mag-category-footer { position: absolute; bottom: 0; left: 0; width: 100%; }

.suf-cat-posts-widget-image {
	overflow: hidden;
	height: 80px;
	width: 100%;
	margin-bottom: 10px;
	text-align: center;
}

.follow-icon-and-tag {
	margin: 10px 5px 10px 0;
	display: inline-block;
	font-size: 125%;
    vertical-align: middle;
}

#right-header-widgets .follow-icon-and-tag,
#left-header-widgets .follow-icon-and-tag {
	display: inline-block;
	margin: 0;
}

#top-bar-right-widgets .follow-icon-and-tag,
#top-bar-left-widgets .follow-icon-and-tag {
	display: inline-block;
	margin: 0;
}

#right-header-widgets a.follow-icon-and-tag:hover,
#right-header-widgets a.follow-icon-and-tag:active,
#right-header-widgets a.follow-icon-and-tag,
#left-header-widgets a.follow-icon-and-tag:hover,
#left-header-widgets a.follow-icon-and-tag:active,
#left-header-widgets a.follow-icon-and-tag,
#top-bar-right-widgets a.follow-icon-and-tag:hover,
#top-bar-right-widgets a.follow-icon-and-tag:active,
#top-bar-right-widgets a.follow-icon-and-tag,
#top-bar-left-widgets a.follow-icon-and-tag:hover,
#top-bar-left-widgets a.follow-icon-and-tag:active,
#top-bar-left-widgets a.follow-icon-and-tag {
	padding: 3px 2px;
}

a.follow-icon-and-tag:hover, a.follow-icon-and-tag:active, a.follow-icon-and-tag,
.warea a.follow-icon-and-tag:hover, .warea a.follow-icon-and-tag:active, .warea a.follow-icon-and-tag {
	text-decoration: none;
	background: none;
}

.widget-suf-subscription form p,
.widget-suf-subscription p {
    text-align: center;
}

.widget-suf-subscription form {
    margin: 10px auto;
	text-align: center;
}

.widget-suf-subscription div {
    text-align: center;
}

.widget-suf-subscription input[type='text'].subscription-email {
	color: #999;
	border: 1px solid #888;
    margin: 10px 0;
	width: 140px;
}
.subscription-stats-icon {
	height: 26px;
	width: 88px;
	border: none;
}
.suf-flat-widget {
    margin: 15px 8px;
}

.suf-flat-widget h3 {
    font-size: 133%;
    border-top: 1px dotted #666;
    border-bottom: 1px dotted #666;
    margin-bottom: 10px;
    padding: 5px 0;
}

.flattened {
    background-color: #fff;
    border: 1px solid #c0c0c0;
}

#horizontal-outer-widgets-1.flattened {
    margin-top: 10px;
}

#horizontal-outer-widgets-2.flattened {
    margin: 10px 0;
}

.author-info {
    border: 1px solid #c0c0c0;
    margin-top: 15px;
    padding: 5px;
}

.author-info h4 {
    padding: 5px 0 5px 5px;
    font-family: Arial, sans-serif;
}

.title-container {
	padding-left: 58px;
	/*padding-right: 10px;*/
}

.post .title {
	float: left;
	width: 100%;
	position: relative;
	margin: 0;
	padding: 0;
}

.widget_tag_cloud {
	font-family: Arial, Trebuchet, "Trebuchet MS", sans-serif;
}

.col-control {
	margin: 0 auto;
	padding: 0;
}

/* Sliding panel. */
#top-bar-right-spanel {
	text-align: center;
	display: none;
	padding: 10px;
	background-color: #040D0F;
	border: 1px solid #222;
}

/* The part of the panel that actually slides. */
.spanel {
	overflow: hidden;
	position: relative;
	z-index: 10;
}

/* Widget container. */
.spanel .spanel-content {
	display: block;
	overflow: hidden;
	margin: 0 auto;
	padding: 0;
	text-align: left;
}

/* Sliding panel widgets. */
.spanel .suf-panel-widget {
	overflow: hidden;
	float: left;
	color: #AAA;
	background: transparent;
	font-family: Arial, Helvetica, sans-serif;
	border: none;
}

.spanel .suf-panel-widget h3 {
	color: #999;
	font: bold 14px/100% Arial, Helvetica, sans-serif;
}

.spanel .suf-widget,
.spanel .suf-flat-widget {
	float: left;
}

#top-bar-right-spanel-tab {
	float: right;
	display: inline-block;
	margin-left: 10px;
}

/* Wrapper for the open/close button. */
#top-bar-right-spanel-tab .toggle {
}

/* Open/close link. */
#top-bar-right-spanel-tab a {
	margin: 0;
	padding: 8px 8px 5px 8px;
 	text-align: center;
}

/* Open link. */
#top-bar-right-spanel-tab a.open {
}

/* Close link. */
#top-bar-right-spanel-tab a.close {
	display: none;
}

/* Open/close link hover. */
#top-bar-right-spanel-tab a:hover {
	cursor: pointer;
}

/* Open/close link array (&urarr;). */
#top-bar-right-spanel-tab a .arrow {
	font-style: normal;
}

/* Now Reading Plugin */
.nr-post {
}

.nr-post h3 {
	border: 1px solid #c0c0c0;
	padding: 5px;
	font-size: 116%;
	margin: 5px 0;
	clear: both;
}
div.booklisting {
	list-style: none;
}
div.booklisting,
div.bookentry {
	margin:  10px 0;
}

div.bookentry {
	display: inline-block;
}

div.booklisting img,
div.bookentry img {
	border: 1px solid #c0c0c0;
	padding: 5px 5px 5px 5px;
	margin: 0 12px 12px 12px;
	width: 108px;
	height: 160px;
}

.nr_widget img {
	padding: 5px 5px 5px 5px;
	width: 65px;
	height: 100px;
}
.nr_widget h4 {
	border: 1px solid #c0c0c0;
	padding: 5px 5px 5px 5px;
	font: bold 100%/100% Arial, Helvetica, sans-serif;
	margin: 20px 0 5px 0;
	clear: both;
}
div.bookentry .stats {
	float: left;
	font-size: 100%;
	line-height: 20px;
}
div.bookentry .stats p {
	text-align: left;
	margin-bottom: 7px;
}
div.bookentry .review {
	float: right;
	padding: 0 0 0 10px;
}
.bookdata {
	margin-top: 5px;
	font-size: 90%;
	color: #999999;
}
.bookdata a, .bookdata a:visited {
	color: #999999;
	text-decoration: none;
}
.bookdata a:hover {
	text-decoration: none;
}
.bookdata .icon { width: 16px; height: 16px; display: inline-block;}
.bookdata .edit, .bookdata .manage { float: right; margin-right: 10px; line-height: 1.5em; padding: 4px 0;}
.bookdata .rating { float: right; line-height: 1.5em; padding: 4px 0;}
.bookdata .edit .icon {background: no-repeat 0 -112px;}
.bookdata .manage .icon {background: no-repeat -16px -128px;}
.bookdata .author {
	padding: 4px 10px 4px 0;
	float: left;
	line-height: 1.5em;
}
.bookentry {
	padding: 15px 0 5px;
	clear: both;
	font-size: 116%;
	line-height: 1.6em;
	margin-bottom: 1em;
}

.post .libtitle {
	float: left;
	margin-left: 0;
	width: 745px;
}

.nr-shelf {
	width: 100%;
	padding: 0;
}

.nr-shelf-slot {
	margin: 8px;
	font-size: 108%;
	line-height: 20px;
	text-align: center;
}
.now-reading form input{
	margin: 3px 2px;
}

/* WP PageNavi Plugin */
.wp-pagenavi {
	text-align: center;
	margin: 5px 0px;
}

.wp-pagenavi a,
.wp-pagenavi span {
	padding: 2px 5px 2px 5px;
	border-width: 1px;
    border-style: solid;
	margin: 3px;
}

.wp-pagenavi span.pages {
	padding: 2px 8px;
}

.wp-pagenavi span.extend {
	border: none;
}

/* WP-Recaptcha Plugin */
#commentform label.recaptcha_input_area_text {
	border: none;
}

/* WPML Plugin */
#language-selector span {
    font-weight: normal;
    font-size: 12px;
}

#language-selector ul li,
#language-selector ul ul li {
    height: 30px;
    border-width: 0;
}

#language-selector ul li,
#language-selector ul ul li,
#language-selector ul li a,
#language-selector ul ul li a {
    line-height: 18px;
    margin: 0;
}

#language-selector ul li a.lang_sel_sel,
#language-selector ul li a.lang_sel_sel:visited,
#language-selector ul ul li a,
#language-selector ul ul li a:visited {
    width: 147px;
}

#language-selector ul ul {
    width: auto;
}

#language-selector ul li a.lang_sel_sel,
#language-selector ul li a.lang_sel_sel:visited,
#language-selector ul ul li a,
#language-selector ul ul li a:visited {
    padding: 5px 0 3px 0;
}

#language-selector img {
    margin: 0 0 0 10px;
}

#language-selector ul li a.lang_sel_sel,
#language-selector ul li a.lang_sel_sel:visited,
#language-selector ul li a.lang_sel_sel:hover,
#language-selector ul li a.lang_sel_sel:active,
#lang_sel ul li a:active,
#language-selector ul ul li a,
#language-selector ul ul li a:visited,
#language-selector ul ul li a:hover,
#language-selector ul ul li a:active,
#lang_sel ul ul li a:active {
    background-image: none;
}

#language-selector ul ul {
    top: auto;
}

#lang_sel li:before{
    content:'';
}

/* Docking Boxes */
.dbx-clone{position:absolute; visibility:hidden}
.dbx-clone, .dbx-clone .dbx-handle-cursor{cursor:move !important}
.dbx-dummy{display:block; width:0; height:0; overflow:hidden}
.dbx-group, .dbx-box, .dbx-handle{position:relative; display:block}

.dbx-box{margin:0 0 15px 0; padding:0; clear:both; }

.dbx-group{width:210px; padding:0 0 10px}
#ie6 .dbx-group{width:210px; padding-bottom:0}

.dbx-handle{position:relative; margin:0; padding:8px 24px 7px 10px; border-bottom:1px dotted #c0c0c0}
.dbx-handle-cursor{cursor:move}
.dbx-handle.plain-borderless { border-bottom: none; }

a.dbx-toggle, a.dbx-toggle:visited{display:block; width:20px; height:20px; overflow:hidden; position:absolute; top:4px; right:3px; text-indent:-50px; text-decoration:none}
a.dbx-toggle-open, a.dbx-toggle-open:visited{background-position:0 0}
a.dbx-toggle-closed, a.dbx-toggle-closed:visited{background-position:0 -20px}
a.dbx-toggle-hilite-open, a.dbx-toggle-hilite-open:visited{background-position:-20px 0}
a.dbx-toggle-hilite-closed, a.dbx-toggle-hilite-closed:visited{background-position:-20px -20px}

.dbx-tooltip{display:block; position:absolute; margin:36px 0 0 125px; width:185px; border:1px solid #000; background:#ffd; color:#000; font:normal normal normal 0.85em tahoma,arial,sans-serif; padding:2px 4px 3px 5px; text-align:left}
#ie6 .dbx-tooltip{width:210px}

*[class="dbx-tooltip"]:lang(en){border-color:InfoText; background:InfoBackground; color:InfoText; font:small-caption; font-weight:normal}

.dbx-content{margin:0; padding:5px 10px 9px 10px; overflow:hidden}

.dbx-box-closed .dbx-content{display:block; height:4px; padding:0; overflow:hidden}
.dbx-box-closed .dbx-content *{display:none}

.dbx-clone{opacity:0.8; filter:alpha(opacity=80)}

/* Multi-column short code */
.suf-multic { display: block; width: 100%; float: left; margin: 10px 0;}
.suf-mc-col {display: inline-block; float: left; margin: 0 3px; padding: 4px}
.suf-mc-col-025 {width: 23%}
.suf-mc-col-033 {width: 31%}
.suf-mc-col-050 {width: 48%}
.suf-mc-col-066 {width: 64%}
.suf-mc-col-075 {width: 73%}
.suf-mc-col-100 {
	width: 100%;
	margin: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.suf-multic .suf-mc-col:first-child {padding-left: 0; margin-left: 0}
.suf-multic .suf-mc-col:last-child {padding-right: 0; margin-right: 0}

form.search-info { padding: 1.5em 0}
.search-hl { display: inline;}
span.search-highlight {background:#ff0; color: #000}
.post-pullout { width: 200px }
.entry-container { padding: 0; position: relative; }
/*
.meta-position-left-pullout { padding-left: 150px; }
.meta-position-right-pullout { padding-right: 150px; }
*/
.meta-position-left-pullout .entry-container { padding-left: 150px; }
.meta-position-right-pullout .entry-container { padding-right: 150px; }
.meta-position-left-pullout .entry, .meta-position-right-pullout .entry {
	width: 100%;
	float: left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.meta-pullout { position: relative; width: 150px; float: left; font-size: 95%; }
.meta-left-pullout { text-align: right; margin-left: -100%; right: 150px; }
.meta-right-pullout { text-align: left; margin-right: -150px; }
.meta-pullout ul { list-style: none; }
.meta-left-pullout ul { margin-left: 0; margin-right: 10px; padding-left: 0; padding-right: 10px; border-right: 1px dotted #ccc; }
.meta-right-pullout ul { margin-left: 10px; margin-right: 0; padding-left: 10px; padding-right: 0; border-left: 1px dotted #ccc; }
.meta-pullout li { border-bottom: 1px dotted #ccc; padding: 0.6em 0; line-height: 1.5em; }
.meta-pullout .icon { display: inline-block; width: 16px; height: 16px; margin-right: 4px;}
.meta-pullout .tax { float: none; max-width: none; text-align: inherit; }
.meta-pullout .category { float: none; }
.meta-pullout .comments { float: none; }
.meta-pullout .edit { float: none; }

.meta-pullout .pullout-date .icon { background: no-repeat 0 -32px; }
.meta-pullout .category .icon { background: no-repeat 0 0;}
.meta-pullout .permalink .icon { background: no-repeat 0 -16px; }
.meta-pullout .comments .icon { background: no-repeat 0 -64px;}
.meta-pullout .edit .icon { background: no-repeat 0 -112px;}
.meta-pullout .author .icon { background: no-repeat -32px -128px; }
.meta-pullout .tax .icon { background: no-repeat -32px -144px; }

table.exif { margin: 10px 0; border-collapse: collapse; }
table.exif td { padding: 0.25em 2em 0.2em 0; border-bottom: 1px dotted #ccc; }

.format-standard, .format-gallery, .format-aside, .format-link, .format-chat, .format-video, .format-audio, .format-quote, .format-status { }
ul.image-sizes { list-style: none; clear: both; margin: 0 0 10px 0; padding: 0; }
ul.image-sizes li { float: left; padding: 5px 10px; margin: 0 10px 0 0; text-decoration: none; }
.suf-widget { overflow: hidden; }

.suf-widget-1c {
	width: 100%;
	margin: 5px 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.suf-widget-2c { width: 49%; margin: 5px 0.39%; }
.suf-widget-3c { width: 32%; margin: 5px 0.49%; }
.suf-widget-4c { width: 24%; margin: 5px 0.38%; }
.suf-widget-5c { width: 19%; margin: 5px 0.35%; }
.flattened .suf-widget-1c { display: block; float: none; }

.cl-widget {
	margin-top: 8px;
	margin-bottom: 8px;
	background: #fff;
	border: 1px solid #c0c0c0;
	display: inline-block;
	width: 99%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.cl-content { margin: 8px; }
.cl-widget h3 { text-align: center; }
.cl-warea-1 { text-align: center; -moz-column-count: 1; -webkit-column-count: 1; column-count: 1; }
.cl-warea-2 .cl-warea-row, .cl-warea-2.cl-warea-all, .cl-warea-2.cl-warea-original { -moz-column-count: 2; -webkit-column-count: 2; column-count: 2; }
.cl-warea-3 .cl-warea-row, .cl-warea-3.cl-warea-all, .cl-warea-3.cl-warea-original { -moz-column-count: 3; -webkit-column-count: 3; column-count: 3; }
.cl-warea-4 .cl-warea-row, .cl-warea-4.cl-warea-all, .cl-warea-4.cl-warea-original { -moz-column-count: 4; -webkit-column-count: 4; column-count: 4; }
.cl-warea-5 .cl-warea-row, .cl-warea-5.cl-warea-all, .cl-warea-5.cl-warea-original { -moz-column-count: 5; -webkit-column-count: 5; column-count: 5; }

.cl-warea-1 .cl-widget {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.cl-warea-masonry .cl-widget {
	float: left;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.cl-warea-1.cl-warea-masonry { -moz-column-count: auto; -webkit-column-count: auto; column-count: auto; }

.suf-tile-row-1-cols { -moz-column-count: 1; -webkit-column-count: 1; column-count: 1; }
.suf-tile-row-2-cols { -moz-column-count: 2; -webkit-column-count: 2; column-count: 2; }
.suf-tile-row-3-cols { -moz-column-count: 3; -webkit-column-count: 3; column-count: 3; }
.suf-tile-row-4-cols { -moz-column-count: 4; -webkit-column-count: 4; column-count: 4; }
.suf-tile-row-5-cols { -moz-column-count: 5; -webkit-column-count: 5; column-count: 5; }
.suf-tile-row-6-cols { -moz-column-count: 6; -webkit-column-count: 6; column-count: 6; }
.suf-tile-row-7-cols { -moz-column-count: 7; -webkit-column-count: 7; column-count: 7; }
.suf-tile-row-8-cols { -moz-column-count: 8; -webkit-column-count: 8; column-count: 8; }
.suf-tile-row-9-cols { -moz-column-count: 9; -webkit-column-count: 9; column-count: 9; }
.suf-tile-row-10-cols { -moz-column-count: 10; -webkit-column-count: 10; column-count: 10; }

.suf-gallery-1c { width: 98%; }
.suf-gallery-2c { width: 49%; }
.suf-gallery-3c { width: 32%; }
.suf-gallery-4c { width: 24%; }
.suf-gallery-5c { width: 19%; }
.suf-gallery-6c { width: 16%; }
.suf-gallery-7c { width: 14%; }
.suf-gallery-8c { width: 12%; }
.suf-gallery-9c { width: 10.5%; }
.suf-gallery-10c { width: 9.5%; }
.suf-gallery-11c { width: 8.6%; }
.suf-gallery-12c { width: 8%; }
.suf-gallery-13c { width: 7.2%; }
.suf-gallery-14c { width: 6.8%; }
.suf-gallery-15c { width: 6.5%; }

.suf-mosaic { padding: 0 30px; position: relative; }
.suf-mosaic-thumbs { text-align: center; position: relative; float: left; width: 100%; }
.suf-mosaic-thumb-container { position: relative; display: inline-block; text-align: center; }
.suf-mosaic-thumb-container a img {float: none;}
.mosaic-page-nav-left { width: 30px; float: left; position: relative; margin-left: -100%; left: -30px; }
.mosaic-page-nav-right { width: 30px; float: left; position: relative; margin-right: -100%; }
.mosaic-page-nav-left a, .mosaic-page-nav-right a { display: inline-block; position: relative; top: 50px; width: 30px; height: 30px; text-decoration: none; }
.mosaic-page-nav-left a {background: -16px 0 no-repeat; }
.mosaic-page-nav-right a {background: -46px 0 no-repeat; }
.suf-mosaic-img { border: 1px solid #c0c0c0; padding: 4px; }
.suf-mosaic-post-title { display: block;}
/*a:hover .suf-mosaic-img { filter: alpha(opacity=100); opacity: 1; }*/
.mosaic-overlay { background: #000; filter: alpha(opacity=0); opacity: 0; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.mosaic-overlay a { position: relative; top: 50%; text-decoration: none; }
a.suf-mosaic-thumb span { display: inline-block; width: 16px; height: 16px; background-position: -16px -32px; background-repeat: no-repeat; padding: 0 5px; }
a.suf-mosaic-post span { display: inline-block; width: 16px; height: 16px; background-position: -16px -48px; background-repeat: no-repeat; padding: 0 5px;}
.flickr_badge_image { display: inline-block; list-style: none; vertical-align: top; text-align: center; }
.flickr_badge_image img, .suf-post-gallery-nav img  { border: 1px solid #c0c0c0; padding: 5px; margin: 5px; filter: alpha(opacity=75); opacity: 0.75; }
.flickr_badge_image a { display: inline-block; text-align: center; text-decoration: none; font-size: 0.9em; vertical-align: middle; }
.flickr_badge_image a span { display: block; padding: 3px; width: 90%; }
.flickr_badge_image a:hover img { filter: alpha(opacity=100); opacity: 1; }
.suf-flickr-wrap { text-align: center; }
.suf-twitter-avatar { float: left; margin: 0 5px 5px 0; padding: 2px; border-width: 1px; border-style: solid; border-color: #c0c0c0; }
.suf-twitter-rest ul li { background: none; padding: 10px 0; border-bottom-style: dotted; border-bottom-width: 1px; }
.suf-twitter-rest ul li:last-child { border-bottom: none; }

.suf-tile-bylines { text-align: center; margin: 0 8px; }
.suf-tile-byline-icons { padding: 0; margin: 0; display: inline-block; }
.suf-tile-byline-icons li { list-style: none; float: left; padding: 0 3px; }
a.suf-tile-icon { width: 16px; height: 16px; overflow: hidden; text-decoration: none; display: inline-block; }
.suf-tile-date-icon { background: transparent url(images/icons/byline-icons.png) no-repeat 0 -48px; }
.suf-tile-permalink-icon { background: transparent url(images/icons/byline-icons.png) no-repeat 0 -32px; }
.suf-tile-postedby-icon { background: transparent url(images/icons/byline-icons.png) no-repeat 0 -80px; }
.suf-tile-cats-icon { background: transparent url(images/icons/byline-icons.png) no-repeat 0 -64px; }
.suf-tile-tax-icon { background: transparent url(images/icons/byline-icons.png) no-repeat 0 0; }
.suf-tile-comments-icon { background: transparent url(images/icons/byline-icons.png) no-repeat 0 -16px; }
.suf-tile-edit-icon { background: transparent url(images/icons/byline-icons.png) no-repeat 0 -96px; }

.suf-tile-icon-text { list-style: none; padding-left: 5px; display: none; }
.suf-tile-icon-text span.author { float: none; }
.suf-tile-date-icon-text .icon, .suf-tile-date-icon.clicked, .suf-tile-date-icon:hover { background: transparent url(images/icons/byline-icons.png) no-repeat -16px -48px; }
.suf-tile-permalink-icon-text .icon, .suf-tile-permalink-icon.clicked, .suf-tile-permalink-icon:hover { background: transparent url(images/icons/byline-icons.png) no-repeat -16px -32px; }
.suf-tile-postedby-icon-text .icon, .suf-tile-postedby-icon.clicked, .suf-tile-postedby-icon:hover { background: transparent url(images/icons/byline-icons.png) no-repeat -16px -80px; }
.suf-tile-cats-icon-text .icon, .suf-tile-cats-icon.clicked, .suf-tile-cats-icon:hover { background: transparent url(images/icons/byline-icons.png) no-repeat -16px -64px; }
.suf-tile-tax-icon-text .icon, .suf-tile-tax-icon.clicked, .suf-tile-tax-icon:hover { background: transparent url(images/icons/byline-icons.png) no-repeat -16px 0; }
.suf-tile-comments-icon-text .icon, .suf-tile-comments-icon.clicked, .suf-tile-comments-icon:hover { background: transparent url(images/icons/byline-icons.png) no-repeat -16px -16px; }
.suf-tile-edit-icon-text .icon, .suf-tile-edit-icon.clicked, .suf-tile-edit-icon:hover { background: transparent url(images/icons/byline-icons.png) no-repeat -16px -96px; }

.suf-tile-byline-texts { text-align: left; margin: 10px 10px 0; padding: 0; font-size: 85%; }
.suf-tile-byline-texts .icon { width: 16px; height: 16px; display: inline-block; padding: 0 5px; }

.cl-warea ul.suf-posts-thumbnail { margin: 10px; padding-left: 0; }
.warea ul.suf-posts-thumbnail li, ul.suf-posts-thumbnail li { background: none; padding: 5px 0; border-bottom: 1px dotted #ccc; }
ul.suf-posts-thumbnail li:last-child { border-bottom: none; }
img.suf-widget-thumb { border: 1px solid #ccc; padding: 3px; }
div.suf-widget-thumb { float: left; display: inline-block; margin: 0 5px 5px 0; }
.suf-widget-mosaic { display: inline-block; list-style: none; float: left; }

div.suf-post-gallery { width: 100%; }
ul.suf-post-gallery { float: left; }
.suf-post-gallery ul { margin: 0; padding: 0; position: relative;}
.suf-post-gallery li { list-style: none; }
.suf-post-gallery-nav li { float: left; text-align: center; }
.suf-post-gallery-nav a { display: inline-block; }

ul.full-display-users { list-style: none; }
.widget-suf-users ul.full-display-users li { list-style: none; background: none; padding:  5px 0; border-bottom: 1px dotted #ccc; }
.widget-suf-users ul.full-display-users li:last-child { border-bottom: none; }
.widget-suf-users ul.full-display-users h5 { margin-top: 0; }
.full-display-users img.avatar { float: left; margin: 0 5px 5px 0; border: 1px solid #ccc; padding: 3px; }
.full-display-users .user-details { padding-left: 10px; float: none; }
.full-display-users .user-description { display: inline; }
ul.gravatar-display-users { list-style: none; }
ul.gravatar-display-users a { float: left; }
.widget-suf-users ul.gravatar-display-users li { float: left; list-style: none; background: none; padding: 0; }
.gravatar-display-users .user-details { font-size: 80%; border: 1px solid #e7d605; background: #f9f6a7; position: absolute;	z-index:999; left:-9999px; padding: 5px; }
.gravatar-display-users img.avatar { float: left; margin: 0 5px 5px 0; border: 1px solid #ccc; padding: 3px; }
.widget-suf-users { overflow: visible; }

.suf-thumbnail-anchor-left { float: left; }
.suf-thumbnail-anchor-right { float: right; }

.post-format-icon { position: absolute; width: 50px; height: 50px; left: -25px; background-repeat: no-repeat; }
article.page .post-format-icon { background: none; }
.format-aside .post-format-icon { background-position: 0 0; }
.format-audio .post-format-icon { background-position: -50px 0; }
.format-chat .post-format-icon { background-position: -100px 0; }
.format-gallery .post-format-icon { background-position: -150px 0; }
.format-image .post-format-icon { background-position: -200px 0; }
.format-link .post-format-icon { background-position: 0 -50px; }
.format-quote .post-format-icon { background-position: -50px -50px; }
.format-standard .post-format-icon { background-position: -100px -50px; }
.format-status .post-format-icon { background-position: -150px -50px; }
.format-video .post-format-icon { background-position: -200px -50px; }

.nleft { float: left; font-size: 1%; }
.nright { float: right; font-size: 1%; }
.fancy-letter { font-size: 350%; float: left; padding: 0.2em 0.2em 0.2em 0; }
.gallery-leading { width: 100%; position: relative; float: left; text-align: center;}
.gallery-contents { position: relative; float: left; padding: 0 8px;}
.gallery-contents.left { margin-left: -100%; }
.gallery-contents.below { width: 100%; display: inline-block; }
.gallery-container { position: relative; }
.gallery-photo-counter { float: none; font-style: italic; width: 100%; text-align: center; display: inline-block;}
.gallery-thumbs { text-align: center; }
.gallery-thumbs img { float: none;}
.image-container { text-align: center; margin-bottom: 1em;}
.exif-button { float: right; border: 1px solid; padding: 0 1em 0 0.8em; }
.exif-button a { text-decoration: none; line-height: 1.2em; padding: 0.3em 0; display: inline-block;}
.exif-button .icon { width: 16px; height: 16px; background-repeat: no-repeat; display: inline-block;  margin-right: 0.5em; }
.exif-panel { display: none; }
.navigation-attachment { width: 100%; display: inline-block; border-top: 1px dotted #c0c0c0; margin-top: 1em; }

.mm-warea { padding: 1em; visibility: hidden; position: absolute; top: 35px; text-align: center; opacity: 0; }
.mm-warea.keep-open { visibility: visible !important; }
.mm-warea.keep-open ul { visibility: visible !important; opacity: 1}
#nav .mm-warea { top: 36px; }
.mm-warea-1 { width: 180px; }
.mm-warea-2 { width: 360px; }
.mm-warea-3 { width: 540px; }
.mm-warea-4 { width: 720px; }
.mm-warea-5 { width: 900px; }
.mm-warea-6 { width: 1080px; }
.mm-warea-7 { width: 1260px; }
.mm-warea-8 { width: 1440px; }
.col-control.center .mm-warea { left: auto; right: auto; }

#nav ul li:hover .mm-warea, #nav-top ul li:hover .mm-warea { visibility:visible; opacity: 1; }
.mm-warea .mm-widget { float: none; position: relative; width: 160px; padding: 5px; margin: 5px; display: inline-block; vertical-align: top; overflow-x: hidden; }
#nav .mm-warea ul, #nav.continuous .mm-warea ul,
#nav-top .mm-warea ul, #nav-top.continuous .mm-warea ul {
	float: none;
	position: relative;
	left: auto;
    top: 0;
    width: auto;
    border: none;
}
#nav .mm-warea .mm-widget ul li, #nav-top .mm-warea .mm-widget ul li { border: none; line-height: 1.3em; margin: 3px 0; display: inline-block; clear: both; width: auto; padding-left: 20px; }
#nav .mm-warea .mm-widget, #nav-top .mm-warea .mm-widget { text-align: left; }
#nav .mm-warea .mm-widget a, #nav-top .mm-warea .mm-widget a { height: auto; line-height: inherit; padding: 0 0 3px; width: auto; font-weight: normal; }
#nav .mm-warea .mm-widget a:hover, #nav-top .mm-warea .mm-widget a:hover { text-decoration: underline; }
#nav .mm-warea .searchfield, #nav-top .mm-warea .searchfield { width: 105px; }

ul.user-profiles { margin: 0.5em auto; padding: 0; }
.user-profiles li { list-style: none; float: none; display: inline-block; margin: 0 1em; }
.user-profiles .icon { width: 24px; height: 24px; background-repeat: no-repeat; display: inline-block; margin-right: 0.5em; }
.user-profiles .twitter { background-position: 0 -180px; }
.user-profiles .google { background-position: 0 -204px; }
.user-profiles .facebook { background-position: 0 -228px; }
.user-profiles .linkedin { background-position: 0 -252px; }
.user-profiles .flickr { background-position: -24px -180px; }
.user-profiles .digg { background-position: -24px -204px; }
.user-profiles .delicious { background-position: -24px -228px; }
.user-profiles .reddit { background-position: -24px -252px; }
.user-profiles .technorati { background-position: -48px -180px; }
.user-profiles .stumbleupon { background-position: -48px -204px; }
span.updated { display: none; }

.outer-pullout-container .post, .outer-pullout-container .page {
	width: 100%;
	float: left;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.outer-pullout-container .post-header {
	margin-left: 15px;
	margin-right: 15px;
}
.outer-pullout-container { padding-bottom: 15px; }
.outer-pullout-container .meta-pullout ul { margin-left: 0; margin-right: 0; padding: 10px; }
.container-left-outer-pullout { padding-left: 170px; }
.container-left-outer-pullout .meta-left-outer-pullout { right: 170px; margin-left: -100%; }
.container-right-outer-pullout { padding-right: 170px; }
.outer-pullout-container .meta-right-outer-pullout {
	margin-right: -170px;
	left: 16px;
}
.outer-pullout-container .entry-container { padding-left: 1em; padding-right: 1em; }
.outer-pullout-container .entry { padding-left: 0; padding-right: 0;}
.outer-pullout-container .meta-pullout {
	background: #fff;
	border-style: solid;
	border-width: 1px;
	border-color: #c0c0c0;
}
.outer-pullout-container #comments {
	padding: 15px;
}
