/* Green Style */

body.woothemes { background: #2E1501 url(brown/bg.jpg) repeat-x center 0; }

body.woothemes h1, 
body.woothemes h2, 
body.woothemes h3, 
body.woothemes h4, 
#footer #footerWrap #copy a,
#sidebar a,
ol.commentlist li p a
{ color: #b77a48; }

p.txt0, p.txt0 a, .continue
{ color: #e4c9a3; }