#header  {margin-bottom: -10px;}

#about  {margin-left: -20px;}
	
.widget h3  {zoom:1;}
.widget h3 span.fold  {bottom: -19px;}
.widget ul li  {zoom: 1; margin-bottom: -3px;}
#searchform #s  {width: 190px;}
#searchform .submit  {padding: 2px 0 0 0;}