/*
Theme Name: InReview
Theme URI: http://www.elegantthemes.com/gallery/
Version: 1.6
Description: 2 Column theme from Elegant Themes
Author: Elegant Themes
Author URI: http://www.elegantthemes.com
*/


/*------------------------------------------------*/
/*-----------------[RESET]------------------------*/
/*------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q {	quotes: none; }

blockquote:before, blockquote:after,q:before, q:after { content: ''; content: none; }

/* remember to define focus styles! */
:focus { outline: 0; }

/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }


/*------------------------------------------------*/
/*-----------------[BASIC STYLES]-----------------*/
/*------------------------------------------------*/

body { line-height: 18px; font-family:'Droid Sans',Arial,Verdana,sans-serif; font-size: 12px; color: #777676; text-shadow: 1px 1px 0px #ffffff; background-color:#161616; }

a { text-decoration: none; color: #00b7f3; }
a:hover { text-decoration: underline; }
.clear { clear: both; }
.ui-tabs-hide { display: none; }
br.clear { margin: 0px; padding: 0px; }

h1, h2, h3, h4, h5, h6 { padding-bottom: 5px; color: #808080; letter-spacing: -1px; line-height: 1em; font-weight: normal; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #808080; }
h1 { font-size: 30px; }
h2 { font-size: 24px; }
h3 { font-size: 22px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }
p { padding-bottom: 10px; line-height: 24px; }
strong { font-weight: bold; color: #1c1c1c; }
cite, em, i { font-style: italic; }
pre, code { font-family: Courier New, monospace; margin-bottom: 10px; }
ins { text-decoration: none; }
sup, sub { height: 0; line-height: 1; position: relative; vertical-align: baseline; }
sup { bottom: 0.8em; }
sub { top: 0.3em; }
dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }
dd  { margin-left: 1.5em;}
blockquote  { margin: 1.5em; padding: 1em; color: #666666; background: #e6e6e6; font-style: italic; border: 1px solid #dcdcdc; }
	blockquote p { padding-bottom: 0px; }

input[type=text],input.text, input.title, textarea, select { background-color:#fff; border:1px solid #bbb; padding: 2px; color: #4e4e4e; }
input[type=text]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus { border-color:#2D3940; color: #3e3e3e; }
input[type=text], input.text, input.title, textarea, select { margin:0.5em 0; }
textarea { padding: 4px; }

img#about-image { float: left; margin: 3px 8px 8px 0px; }

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/*------------------------------------------------*/
/*---------------[MAIN LAYOUT INFO]---------------*/
/*------------------------------------------------*/

#top-header { background: #161616 url(images/top-bg.png) repeat-x; }
	#top-header-pattern { background: url(images/top-pattern.png); }
		.container { text-align: left; margin: 0 auto; width: 960px; position: relative; }
			#logo { float: left; margin-top: 23px; }
			p#slogan { float: left; font-family: Georgia, serif; font-size: 12px; color: #a6a6a6; font-style: italic; text-shadow: 1px 1px 1px rgba(0,0,0,0.6); padding-top: 28px; margin-left: 20px; }
			ul#top-menu { float: right; }
#bottom-header { background: url(images/bottom-bg.png) repeat-x; height: 46px; }		
				ul#secondary-menu { float: left; }
					ul#secondary-menu a { font-size: 12px; font-family:'Droid Sans',Arial,Verdana,sans-serif; color: #000000; text-decoration: none; padding: 14px 9px; }
					ul#secondary-menu a:hover { color: #bebebe;}
					ul#secondary-menu > li.current_page_item > a { color: #bebebe !important; font-style: italic; font-family: Georgia, serif; font-weight: normal; text-shadow: 1px 1px 0px #ffffff;  background: url(images/current-bg.png) repeat-x 0px 5px;}
				#search-form { float: right; background: url(images/search-bg.png) no-repeat; width: 141; height: 25px; margin-top: 10px; }
					#search-form #searchinput { background: none; border: none; float: left; margin: 4px 7px 0 0px; width: 104px; padding-left: 9px; font-size: 11px; font-family: Georgia, serif; color: #bebebe; text-shadow: 1px 1px 0px #ffffff; font-style: italic; }
					#search-form #searchsubmit { margin-top: 7px; margin-right: 7px; }
#content-area { background: url(images/content-bg.png); border-bottom: 1px solid #ffffff; }	
	#top-shadow { background: url(images/top-shadow.png) repeat-x top left; }	
		#top-shadow .container { background: url(images/top-shadow-container.png) no-repeat top center; padding-top: 5px; }
			#quote { padding: 60px 40px 13px; text-align: center; }
				p#tagline-quote { color: #777676; font-style: italic; font-family: Georgia, serif; font-size: 20px; text-shadow: 1px 1px 0px #ffffff; line-height: 30px; }
			
			#main-content { background:url(images/main-content.png) repeat-y 580px 0px; }
				#main-content-wrap { background:url(images/main-top.jpg) no-repeat 586px 0; padding: 24px 0 40px; }
				
				#left-area { width: 625px; float:left; }
					#left-area h4.widgettitle { padding-bottom: 17px; }
				#sidebar { width: 335px; float:left; }
					h4.widgettitle { color:#b2b2b2; text-shadow: 1px 1px 0px #ffffff; text-transform: uppercase; font-size:12px; padding-bottom: 10px; }
			
					#breadcrumbs { font-size:14px; font-style: italic; font-family: Georgia, serif; padding:0 0 30px; color: #777676; text-shadow: 1px 1px 0px #ffffff; background:url(images/breadcrumbs-bg.png) no-repeat bottom left; margin-bottom: 50px; }
						#breadcrumbs a { color:#bdbdbd; text-decoration:none; }
							#breadcrumbs a:hover { color: #777676; }
						#breadcrumbs .raquo { color:#bdbdbd; }
					.post { padding:0px 58px 40px 0px; }
						.post p { line-height:22px; }
						.post-thumbnail { display:block; float:left; position:relative; margin-right: 24px; margin-bottom:10px; background:url(images/post-overlay.png) no-repeat; height:251px; width:242px; }
							.post-thumb { margin-top:10px; margin-left:10px; }
							span.post-overlay { background:url(images/post-overlay-shadow.png) no-repeat; 	display:block; left:9px; position:absolute; top:9px; width: 223px; height: 232px; }
							span.et-belt { right:-10px; position:absolute; top:-9px; width: 98px; height: 98px; }
							span.et-choice { background:url(images/et-belt.png) no-repeat; }
							span.price-tag { background:url(images/price-tag.png) no-repeat right bottom; font-family: Georgia, serif; color:#759a5a; display:block; font-size:24px; text-shadow: 1px 1px 0px #ffffff; height:50px; line-height:50px; padding-right:14px; position: absolute; bottom: -9px; left: 77px; }
								span.price-tag span { background:url(images/price-tag.png) no-repeat; display:block; height:50px; padding-left: 22px; padding-right:11px; }
						.post-description { float: right; width: 287px; }	
							h1.title, .post-description h2.title { font-size: 24px; font-family: 'Arvo', Arial, sans-serif; text-shadow: 1px 1px 0px #ffffff; padding-bottom: 10px; color: #343434; }
								.post-description h2.title a { color: #343434; }
								.post-description h2.title a:hover { color: #111; text-decoration: none; }
							.post p.meta-info { padding-bottom:8px; font-style: italic; font-family: Georgia, serif; font-size: 12px; color: #aaaaaa; text-shadow: 1px 1px 0px #ffffff; }
								.post p.meta-info a { color: #838383; text-decoration: none; }	
							#feature-box { border: 1px solid #e0e0e0; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }	
								#feature-container { border: 1px solid #ffffff; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; background: #ffffff url(images/feature-container.png) repeat-x bottom left; }
									ul#feature-items li { border-bottom: 1px solid #e0e0e0; padding-top: 11px; padding-bottom: 13px; padding-left: 20px; }
									ul#feature-items li.last { border-bottom: none; }
										ul#feature-items span { width: 82px; display: block; float: left; color: #343434; font-size: 12px; font-style: italic; font-family: Georgia, serif; text-shadow: none; }
						.entry-content { padding-top: 22px; }
							.entry-content a.readmore { position: relative; float: right; left: 0; top: 0; }

	.review-rating { float: left; width: 80px; height: 15px; background: url(images/stars-sprite.png) repeat-x; overflow: hidden; }
		.review-score { width: 0; height: 15px; background: url(images/stars-sprite.png) repeat-x 0 -16px; }
		ul#feature-items .review-score { background-position: 0 -32px; }
		ul#feature-items .review-rating { margin-top: 1px; }
	
	a.readmore { display: block; background: url(images/readmore.png) no-repeat bottom right; padding: 0 19px 0 0; color: white; font-size: 16px; font-family: Georgia, serif; font-weight: normal; line-height: 34px; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6); position: absolute; bottom: -24px; left: 300px; }
		a.readmore span { display: block; background: url(images/readmore.png) no-repeat; height: 38px; padding: 0 0 0 19px; }
		a.readmore:hover { color: #eee; }
	
	.post-box { width: 266px; background: url(images/box-top-bg.png) no-repeat; float: left; padding-top: 10px; margin: 0 48px 40px 0; position: relative; }
		.box-bottom { background: url(images/box-bottom-bg.png) no-repeat bottom left; padding-bottom: 5px; }
			.box-content { background: url(images/box-bg.png) repeat-y; padding: 0 2px; min-height: 357px; }
				.box-content-top { background: url(images/box-top-gradient.png) repeat-x; padding-bottom: 20px; }
					.box-thumbnail { position: relative; margin: 0 0 30px 8px; }
						.box-thumbnail .box-overlay { position: absolute; top: 0; left: 0; background: url(images/box-overlay.png) no-repeat; }
					.box-thumbnail, .box-thumbnail .box-overlay { width: 247px; height: 132px; }
					.post-box h2.title, .post-box p { margin: 0 31px 0 35px; }
					.post-box h2.title { font-family: 'Arvo', Arial, sans-serif; font-size: 18px; }
						.post-box h2.title a { color: #343434; }
						.post-box h2.title a:hover { color: #000; text-decoration: none; }
						.post-box p.featured-meta { margin: 0px 31px -11px 35px; font-size: 11px; }
						.post-box a.readmore { bottom: -18px; left: 72px; }
						.post-box .et-belt { right: -9px; }
						
	.post ul, .comment-content ul { list-style-type: disc; padding: 10px 0px 10px 20px; }
		.post ol, .comment-content ol { list-style-type: decimal; list-style-position: inside; padding: 10px 0px 10px 2px; }
			.post ul li ul, .post ul li ol, .comment-content ul li ul, .comment-content ul li ol { padding: 2px 0px 2px 20px; }
			.post ol li ul, .post ol li ol, .comment-content ol li ul, .comment-content ol li ol  { padding: 2px 0px 2px 35px; }
			
	.post ul#feature-items { list-style: none; padding: 0; }
	
	.fullwidth #left-area { width: 960px; }
		.fullwidth #left-area .post, .fullwidth #comment-wrap { padding-right: 0; }
	div.fullwidth, .fullwidth #main-content-wrap, .fullwidth #breadcrumbs { background: none !important; }
	
	.fullwidth #breadcrumbs { padding: 0; }
		
	#comment-wrap ul.children { padding-left: 80px; }
	
	.depth-2 .comment-body { background: url(images/comment-top-d2.png) no-repeat; }
		.depth-2 .comment-bottom { background: url(images/comment-bottom-d2.png) no-repeat bottom left; }
			.depth-2 .comment-container { background: url(images/comment-bg-d2.png) repeat-y; }
			
	.depth-3 .comment-body { background: url(images/comment-top-d3.png) no-repeat; }
		.depth-3 .comment-bottom { background: url(images/comment-bottom-d3.png) no-repeat bottom left; }
			.depth-3 .comment-container { background: url(images/comment-bg-d3.png) repeat-y; }
			
	.depth-4 .comment-body { background: url(images/comment-top-d4.png) no-repeat; }
		.depth-4 .comment-bottom { background: url(images/comment-bottom-d4.png) no-repeat bottom left; }
			.depth-4 .comment-container { background: url(images/comment-bg-d4.png) repeat-y; }
			
	.depth-5 .comment-body { background: url(images/comment-top-d5.png) no-repeat; }
		.depth-5 .comment-bottom { background: url(images/comment-bottom-d5.png) no-repeat bottom left; }
			.depth-5 .comment-container { background: url(images/comment-bg-d5.png) repeat-y; }
			
	.fullwidth .comment-body { background: url(images/comment-top-fullwidth-d1.png) no-repeat; width: 960px; }
		.fullwidth .comment-bottom { background: url(images/comment-bottom-fullwidth-d1.png) no-repeat bottom left; }
			.fullwidth .comment-container { background: url(images/comment-bg-fullwidth-d1.png) repeat-y; }
	
	.fullwidth .depth-2 .comment-body { background: url(images/comment-top-fullwidth-d2.png) no-repeat; width: 882px; }
		.fullwidth .depth-2 .comment-bottom { background: url(images/comment-bottom-fullwidth-d2.png) no-repeat bottom left; }
			.fullwidth .depth-2 .comment-container { background: url(images/comment-bg-fullwidth-d2.png) repeat-y; }
			
	.fullwidth .depth-3 .comment-body { background: url(images/comment-top-fullwidth-d3.png) no-repeat; width: 804px; }
		.fullwidth .depth-3 .comment-bottom { background: url(images/comment-bottom-fullwidth-d3.png) no-repeat bottom left; }
			.fullwidth .depth-3 .comment-container { background: url(images/comment-bg-fullwidth-d3.png) repeat-y; }
			
	.fullwidth .depth-4 .comment-body { background: url(images/comment-top-fullwidth-d4.png) no-repeat; width: 726px; }
		.fullwidth .depth-4 .comment-bottom { background: url(images/comment-bottom-fullwidth-d4.png) no-repeat bottom left; }
			.fullwidth .depth-4 .comment-container { background: url(images/comment-bg-fullwidth-d4.png) repeat-y; }
			
	.fullwidth .depth-5 .comment-body { background: url(images/comment-top-fullwidth-d5.png) no-repeat; width: 648px; }
		.fullwidth .depth-5 .comment-bottom { background: url(images/comment-bottom-fullwidth-d5.png) no-repeat bottom left; }
			.fullwidth .depth-5 .comment-container { background: url(images/comment-bg-fullwidth-d5.png) repeat-y; }
			
	.fullwidth #comment-wrap ul.children { padding-left: 78px; }
			
	div.et-link { background: url(images/post-separator.png) no-repeat; height: 46px; position: relative; }
		div.et-link a.readmore { bottom: 25px; left: 183px; }
			
/*------------------------------------------------*/
/*---------------[DROPDOWN MENU]------------------*/ 
/*------------------------------------------------*/

ul#top-menu li { padding: 30px 0px; }
	ul#top-menu a { font-size: 12px; font-weight: bold; font-family:'Droid Sans',Arial,Verdana,sans-serif;color: #ffffff; text-decoration: none; text-shadow: 1px 1px 1px rgba(0,0,0,0.6); padding: 0px 8px; }
	ul#top-menu a:hover { color: #7ac5ec;}
	ul#top-menu > li.current_page_item > a, ul#secondary-menu > li.current-menu-item > a { color: #7ac5ec !important; font-style: italic; font-family: Georgia, serif; font-weight: normal; }
	
	ul#top-menu li ul { width: 151px !important; padding: 7px 7px 10px 25px; background: #161616 url(images/top-pattern.png); top: 78px !important; box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.1); -moz-box-shadow:3px 3px 7px 1px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.1); border-color: 1px solid #323b44; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-top-left-radius: 0px;-moz-border-radius-topleft: 0px; border-top-right-radius: 0px; -webkit-border-top-left-radius: 0px; -moz-border-radius-topright: 0px; -webkit-border-top-right-radius: 0px; z-index: 9999px; display: none; border-top: 1px solid #1a1a1a; }
		ul#top-menu ul li { margin: 0 !important; padding: 0 !important; }
			ul#top-menu ul li a { padding: 10px 0px !important; width: 160px; }
			
			ul#top-menu li:hover ul ul, ul#top-menu li.sfHover ul ul { top: -8px !important; left: 158px !important; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }
			
	ul#secondary-menu li ul { width: 151px !important; padding: 7px 7px 10px 25px; background: #fff; top: 41px !important; box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1); -moz-box-shadow:2px 2px 2px 1px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1); border-color: 1px solid #323b44; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-top-left-radius: 0px;-moz-border-radius-topleft: 0px; border-top-right-radius: 0px; -webkit-border-top-left-radius: 0px; -moz-border-radius-topright: 0px; -webkit-border-top-right-radius: 0px; z-index: 9999px; display: none; }
		ul#secondary-menu ul li { margin: 0 !important; padding: 0 !important; }
			ul#secondary-menu ul li a { padding: 10px 0px !important; width: 160px; }
			
			ul#secondary-menu li:hover ul ul, ul#secondary-menu li.sfHover ul ul { top: -8px !important; left: 158px !important; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }
			
	ul#top-menu li.menu-gradient { background: url(images/menu-gradient.png) repeat-x; position: absolute; top: 0; left: 0; width: 183px; height: 6px !important; }
			
/*------------------------------------------------*/
/*--------------[FEATURED SLIDER]-----------------*/
/*------------------------------------------------*/

#featured { background: url(images/featured-top-bg.png) no-repeat top center; padding-top: 51px; }	
	#featured-bottom { background: url(images/featured-bottom-bg.png) no-repeat bottom center; padding-bottom: 45px; position: relative; }
		h3#recommended { background:url(images/recommended-button.png) no-repeat right bottom; color:#b3b3b3; text-shadow: 1px 1px 0px #ffffff; display:block; font-size:12px; text-transform: uppercase; padding-right:17px; position: absolute; height: 31px; left: 393px; top: -40px; }
			h3#recommended span { background:url(images/recommended-button.png) no-repeat; display:block; padding-left: 20px; padding-right: 6px; height: 31px; padding-top: 14px; }
		a#left-arrow, a#right-arrow { position: absolute; top: 134px; width: 26px; height: 37px; text-indent:-9999px; }
		a#left-arrow { background:url(images/featured-arrows.png) no-repeat; left: 0px; }
			a#left-arrow:hover { background-position: bottom left; }
		a#right-arrow { background:url(images/featured-arrows.png) no-repeat top right; right: 0px; }
			a#right-arrow:hover { background-position: bottom right; }
	#featured-slides { margin: 0 70px; }	
		.slide { padding: 38px 0; height: 229px; }
			.featured-img { display:block; float:left; position:relative; margin-right: 48px; background: url(images/featured-img-overlay.png) no-repeat; }
			.pngimage { background: none !important; }
				.featured-img { height:224px; width:340px; }
				.featured-img .featured-image { margin-top:10px; margin-left:10px; }
				.pngimage .featured-image { margin: 0 !important; }
				.featured-img span.overlay { background:url(images/featured-overlay.png) no-repeat; display:block; left:10px; position:absolute; top:10px; width: 321px; height: 205px; }
			.featured-description { width: 430px; float: right; }
				h2.featured-title { font-family: 'Arvo', Arial, sans-serif; font-size: 24px; }
					h2.featured-title a { text-decoration: none; color: #343434; }
					p.featured-meta { color: #aaaaaa; font-style: italic; font-family: Georgia, serif; }
						p.featured-meta a { color: #838383; text-decoration: none; }
					.entry p.featured-meta { padding-bottom: 6px; }
						
.rating-container { float: left; margin-right: 3px; background: url(images/rating-container.png) no-repeat bottom right; height: 27px; padding-right: 9px; margin-bottom: 9px; }
	.rating-inner { background: url(images/rating-container.png) no-repeat; padding: 6px 0 5px 9px; }
		.rating-inner span { float: left; font-size: 12px; font-family: Georgia, serif; color: #343434; font-style: italic; margin: -1px 5px 0 0; padding-left: 2px; }
	.box-thumbnail .rating-container { position: absolute; bottom: -21px; left: 73px; }
		.box-thumbnail .rating-inner { height: 17px; }
		
/*------------------------------------------------*/
/*-------------------[COMMENTS]-------------------*/
/*------------------------------------------------*/

#comment-wrap { padding-right: 55px; padding-top: 10px; }
	h3#comments, h3#reply-title span { font-size: 24px; color: #343434; font-family: 'Arvo', Arial, sans-serif; }
	.comment-body { position: relative; margin-bottom: 2px; background: url(images/comment-top.png) no-repeat; padding-top: 6px; width: 568px; }
		.avatar-container { position: absolute; top: 14px; left: 24px; }
			.avatar-box { position: relative; }
				.avatar-overlay { position: absolute; top: 0; left: 0; display: block; background: url(images/avatar-overlay.png) no-repeat; }
				.avatar-box, .avatar-overlay { width: 57px; height: 57px; }
					
			.comment-bottom { background: url(images/comment-bottom.png) no-repeat bottom left; padding-bottom: 32px; }
				.comment-container { background: url(images/comment-bg.png) repeat-y; position: relative; padding: 15px 22px 10px 96px; }
					div.comment-date { font-size: 14px; color: #bcbcbc; font-family: Georgia, serif; font-style: italic; }
						.comment-meta { margin-bottom: 0px; position: relative; }
							.comment-meta_main { padding-right: 105px; }
							.comment-meta .rating-container { position: absolute; top: 0; right: 0; }
						span.fn { display: block; padding-bottom: 3px; font-family: 'Arvo', Arial, sans-serif; }
						span.fn, span.fn a { color: #343434; font-size: 18px; }
						span.fn a:hover { color: #000; text-decoration: none; }
		
		.comment-arrow { background: url(images/comment-arrow.png) no-repeat; width: 9px; height: 20px; position: absolute; top: 23px; left: 74px; }
		
		.reply-container { display: block; background: url(images/readmore.png) no-repeat bottom right; float: right; padding: 0 19px 0 0; font-size: 16px; font-family: Georgia, serif; font-weight: normal; line-height: 34px; text-shadow: 1px 1px 1px rgba(0,0,0,0.6); }
			.reply-container a { display: block; background: url(images/readmore.png) no-repeat; height: 38px; padding: 0 0 0 19px; color: #fff; }
			.reply-container a:hover { color: #eee; text-decoration: none; }
			
		ol.commentlist { margin-top: 20px; }
						
#commentform textarea#comment { width: 96%; background: url(images/white-overlay.png); border: 1px solid white; -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1); }
	#commentform input[type=text] { width: 38%; background: url(images/white-overlay.png); border: 1px solid white; -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1); }
	#commentform textarea#comment, #commentform input[type=text] { padding: 10px 5px 10px 15px; color: #777676; }
	
	#commentform .hidden { display: none; }
	
	p.form-submit { float: right; background: url(images/readmore.png) no-repeat bottom right; padding-right: 4px; height: 28px;padding-right: 19px; }
		p.form-submit input#submit { background: url(images/readmore.png) no-repeat; border: none; margin: 0; height: 37px; padding-left: 22px; padding-top: 0px; line-height: 18px; color: #fff; font-size: 16px; font-family: Georgia, serif; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6); }

	li.comment #respond textarea { width: 94% !important; }
	li.comment #respond input[type=text] { width: 48% !important; }
	
	.depth-2 .comment-body { width: 490px; }
	.depth-3 .comment-body { width: 412px; }
	.depth-4 .comment-body { width: 334px; }
	.depth-5 .comment-body { width: 256px; }
	
	span#choose_rating { font-size: 14px; color: #343434; float: left; font-family: 'Arvo', Arial, sans-serif; display: block; margin: 4px 38px 0 0; }
	div#et-rating .rating-inner, .comment-meta .rating-inner { height: 17px; }
	
	#respond { overflow: hidden; }
		
/*------------------------------------------------*/
/*---------------------[FOOTER]-------------------*/
/*------------------------------------------------*/
	
#footer { background: #161616 url(images/footer-bg.png) repeat-x; }	
	#footer-pattern { background: url(images/top-pattern.png); } 
		#footer-widgets { padding-top: 45px; }
			.footer-widget { width: 266px; margin-right: 80px; float: left; margin-top:10px; margin-bottom: 40px; color: #acacac; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); }
			.last { margin-right: 0px; }
				#footer-logo { margin-bottom: 10px;}
				.footer-widget p { line-height: 22px; color: #acacac; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); margin-top: -17px; }
				#footer h4.widgettitle { color:#ffffff; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); text-transform: uppercase; font-size:12px; padding-bottom: 10px; }
					.footer-widget a { color: #acacac; }
					.footer-widget a:hover { color: #d0d0d0; text-decoration: none; }
				.footer-widget ul { margin-bottom:8px;  }
					.footer-widget ul ul { margin-bottom:0; }
						.footer-widget ul li { background:url(images/footer-bullet.png) no-repeat 0 7px; padding:0px 0 10px 20px; }
						.footer-widget ul li ul { margin:0 0 -3px; padding:5px 0 0 7px; }
			
		#footer-bottom  { background: url(images/bottom-menu-bg.png) repeat-x top left; padding-bottom: 20px; }
			#footer-bottom .container { padding-top: 30px; background: url(images/footer-container-bg.png) no-repeat 0px 3px; }
				ul.bottom-nav li { float: left; font-size: 12px; font-weight: bold; padding-right: 15px; }
					ul.bottom-nav li.current_page_item a { font-style: italic; font-family: Georgia, serif; font-weight: normal; color: #7ac5ec; }
				ul.bottom-nav li a {color:#ffffff; text-shadow: 1px 1px 1px #000000;}
				ul.bottom-nav li a:hover {text-decoration: none; color: #7ac5ec; } 
			p#copyright { float:right; font-size:12px; color:#acacac; text-shadow: 1px 1px 1px #000000; }	
				p#copyright a { color:#ffffff; }
		

	
/*------------------------------------------------*/
/*--------------------[SIDEBAR]-------------------*/
/*------------------------------------------------*/

.widget { width: 300px; margin-bottom: 30px; padding-left: 33px; color: #343434; }
	.widget ul li { padding:6px 19px; display: block; background:url(images/sidebar-bullet.png) no-repeat 0px 13px; }
		.widget ul li a { color:#343434; text-shadow:1px 1px 0px #ffffff; text-decoration: none; }
			.widget ul li a:hover { color:#b2b2b2; }
	.widget p { padding:6px 19px; color:#343434; text-shadow:1px 1px 0px #ffffff; line-height: 21px; }

	.rated-info h3.title { font-family: 'Arvo', Arial, sans-serif; font-size: 14px; padding: 9px 0 0; }
		.rated-info h3.title a { color: #343434; }
		.rated-info h3.title a:hover { text-decoration: none; color: #111; }
	
	.et-top-rated-top { background: url(images/rating-widget-top.png) no-repeat; padding-top: 4px; }
		.et-top-rated-bottom { background: url(images/rating-widget-bottom.png) no-repeat bottom left; padding-bottom: 4px; }
			.et-top-rated { background: url(images/rating-widget-bg.png) repeat-y; padding: 8px 17px 6px 9px; }
			
	#sidebar .widget_topratedwidget { padding-left: 1px; width: 335px; }
		#sidebar .widget_topratedwidget h4.widgettitle { padding-left: 32px; }
		.rated-info { float: left; width: 225px; }
			.rated-thumb { position: relative; float: left; margin-right: 13px; }
				.rated-thumb span.overlay { display: block; position: absolute; top: 0; left: 0; background: url(images/rating-widget-overlay.png) no-repeat; }
				.rated-thumb, .rated-thumb span.overlay { width: 34px; height: 34px; }
		.rated-widget-stars { float: right; padding-top: 8px; }
		
	body.single #sidebar { padding-top: 22px; }
			
/*------------------------------------------------*/
/*------------[CAPTIONS AND ALIGNMENTS]-----------*/
/*------------------------------------------------*/

div.post .new-post .aligncenter, .aligncenter { display: block; margin-left: auto; margin-right: auto; }
.wp-caption { border: 1px solid #ddd; text-align: center; background-color: #f3f3f3; padding-top: 4px; margin-bottom: 10px; }
.wp-caption.alignleft { margin: 0px 10px 10px 0px; }
.wp-caption.alignright { margin: 0px 0px 10px 10px; }
.wp-caption img { margin: 0; padding: 0; border: 0 none; }
.wp-caption p.wp-caption-text { font-size: 11px; line-height: 17px; padding: 0 4px 5px; margin: 0; }
.alignright { float: right; }
.alignleft { float: left }
img.alignleft { display:inline; float:left; margin-right:15px; }
img.alignright { display:inline; float:right; margin-left:15px; }

	
/*------------------------------------------------*/
/*---------------[DEFAULT DROPDOWN SETTINGS]---*/
/*------------------------------------------------*/

.nav ul { position:absolute; top:-999em; background-position: bottom; background-repeat: no-repeat; z-index: 10; }
.nav li { float:left; position:relative; }
.nav a { display:block; float: left; }
	.nav li:hover ul, ul.nav li.sfHover ul { left:0px; top:50px; }
	.nav li:hover li ul, .nav li.sfHover li ul { top:-999em; }
		.nav li li:hover ul, ul.nav li li.sfHover ul { left:192px; top:0px; }
	.nav li:hover ul, .nav li li:hover ul { top: -999em; }
	.nav li li {	display: block;	padding: 0px; float: left; height: auto !important; }
	.nav li ul { width: 191px; z-index:1000; }
		.nav li li a:link, .nav li li a:visited {	display: block; height: auto; float: left; }
		.nav li:hover { visibility: inherit; /* fixes IE7 'sticky bug' */ }


/*------------------------------------------------*/
/*-----------------[WP CALENDAR]-----------------*/
/*------------------------------------------------*/
#wp-calendar { empty-cells: show; margin: 10px auto 0; width: 240px;	}
	#wp-calendar a { display: block; text-decoration: none; font-weight: bold; }
		#wp-calendar a:hover { text-decoration: underline; }
	#wp-calendar caption {	text-decoration: none; font: bold 13px Arial, Sans-Serif; }
	#wp-calendar td {	padding: 3px 5px; color: #9f9f9f; }
		#wp-calendar td#today { color: #ffffff; }
	#wp-calendar th {	font-style: normal;	text-transform: capitalize;	padding: 3px 5px; }
		#wp-calendar #prev a, #wp-calendar #next a { font-size: 9pt; }
		#wp-calendar #next a { padding-right: 10px; text-align: right; }
		#wp-calendar #prev a { padding-left: 10px; text-align: left; }
		
/*------------------------------------------------*/
/*-------------------[PAGE NAVI]------------------*/
/*------------------------------------------------*/
.pagination { overflow: hidden; padding: 15px 12px 0px; }

.wp-pagenavi { position: relative; font-family: 'Arvo', Arial, sans-serif; font-size: 12px; text-align: right; padding: 21px 50px 0 0; }
.wp-pagenavi span.pages { padding: 5px 7px 5px !important; margin: 2px !important ; color: #343434 !important; border: none !important; background: none !important; }
.wp-pagenavi a, .wp-pagenavi a:link , .wp-pagenavi a:visited, .wp-pagenavi span.current, .wp-pagenavi span.extend, .wp-pagenavi a:active, .wp-pagenavi a:hover { padding: 12px 17px !important; margin: 2px; font-weight: bold; background: url(images/pagenavi-bg.png) no-repeat !important; border: none !important; color: #343434 !important; font-size: 15px !important; }

.wp-pagenavi span.current, .wp-pagenavi a:hover { color: #a0a0a0 !important; }


a.readmore:hover, #sidebar div.custom-sidebar-block ul.control li a:hover, ul#cats-menu li a:hover, ul#page-menu li a:hover, div#slider-control div.featitem h2 a  { text-decoration: none; }

.js #featured .slide { display: none; } 

.foursixeight { margin: 0px 0px 15px 84px;}
.et_pt_blogentry a.readmore { position: relative !important; left: 0 !important; }

#comment-wrap .navigation { padding: 10px 0; }
	.nav-previous { float: left; }
	.nav-next { float: right; }
h3#reply-title small { display: block; }
	h3#reply-title small a { font-size: 12px; letter-spacing: 0px; }
	
#commentform input[type=text] { width: 40%; display: block; padding: 5px; }
#commentform textarea#comment { width: 91%; }
.commentlist #respond textarea#comment { width: 98% !important; }
.commentlist #respond input[type=text] { width: 40%; display: block; padding: 5px; }
.comment_navigation_top, .comment_navigation_bottom { padding: 10px 0; }